
						<!--kg-card-begin: markdown--><!--kg-card-begin: markdown--><h4 id="introduction">Introduction</h4>
<p>Of all the new features in ES6, <a href="https://en.wikipedia.org/wiki/Symbol_%28programming%29">Symbols</a> might be one of the most interesting to me. I&apos;ve never been a Ruby developer, so I&apos;ve never actually seen or used these primitive types in practice. Its an interesting concept, and I&apos;ll be diving in to the essentials throughout this article.</p>
<h4 id="es6symbols">ES6 Symbols</h4>
<p>So, what exactly is a JavaScript symbol? Its a new unique, immutable, primitive data type introduced in ES6, originally meant to provide private properties.</p>
<pre><code>var sym = Symbol(); 
typeof sym;							// Returns &quot;symbol&quot; 
</code></pre>
<p>Symbols can be used to access object properties, much like strings do:</p>
<pre><code>var obj = {};
var sym = Symbol();
obj[sym] = &quot;a&quot;;
console.log(obj[sym]);				// Prints &quot;a&quot;
</code></pre>
<p>The main difference here is the property accessed by <code>sym</code> does not show up in the object if iterated on, or if <code>stringify</code>&apos;d. For example:</p>
<pre><code>var obj = {};
var sym = Symbol();
obj[&apos;hi&apos;] = &quot;bye&quot;;
obj[sym] = &quot;a&quot;;

console.log(obj);					// Prints &quot;{hi: &apos;bye&apos;}&quot;

for (var i in obj) {
    console.log(i);					// Prints &quot;hi&quot;
}

console.log(JSON.stringify(obj));	// Prints {&quot;hi&quot;:&quot;bye&quot;}
</code></pre>
<p>So, as you can see, the <em>only</em> way you can access a &quot;symboled&quot; property is with the original symbol object, otherwise you wouldn&apos;t even know the property exists. So this means we can use Symbols to finally have private properties in JavaScript, right? Nope. Turns out, symbols were severely downgraded from the original spec (for reasons unknown to me), and can not be used to reliably create private properties. An object&apos;s Symbols can be accessed via <code>Object.getOwnPropertySymbols</code>, thus making them public for all to see.</p>
<pre><code>var obj = {};
var sym = Symbol();
obj[&apos;hi&apos;] = &quot;bye&quot;;
obj[sym] = &quot;a&quot;;

Object.getOwnPropertySymbols(obj);	// Returns [ Symbol() ]
</code></pre>
<p>A word of warning, many people still believe JS symbols provide private properties to objects, so be careful what you read and believe on forums and Stack Overflow. Hopefully the misconceptions will be corrected once ES6 becomes more mainstream.</p>
<p>You may also see a lot of examples where the symbol is passed an optional string, like so:</p>
<pre><code>var sym = Symbol(&quot;foo&quot;);
</code></pre>
<p>This descriptor is strictly used for debugging purposes, and does not affect the uniqueness of the symbol. To make this more clear, here is an example:</p>
<pre><code>Symbol(&quot;foo&quot;) === Symbol(&quot;foo&quot;);	// Evaluates to false

var sym = Symbol(&quot;foo&quot;);
console.log(sym.toString());		// Prints &quot;Symbol(foo)&quot;
</code></pre>
<h4 id="globalscope">Global Scope</h4>
<p>It is important to realize that using the <code>Symbol()</code> function will not create a global symbol that is available in the global scope. The symbol remains specific to the object in which it is used on. You can, however, create global symbols using <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Symbol/for"><code>Symbol.for()</code></a> and <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Symbol/keyFor"><code>Symbol.keyFor()</code></a> to get and set symbols from the global symbol registry.</p>
<p><code>Symbol.for(key)</code> searches for existing symbols with the given key (a string) and returns it if its found. If the symbol is not found, a new one is created in the global registry with the given key and then returned.</p>
<pre><code>Symbol.for(&quot;foo&quot;);				// Creates a new global symbol
var sym = Symbol.for(&quot;foo&quot;);		// Retrieves the already created symbol
</code></pre>
<p>Unlike <code>Symbol([description])</code>, specifying the key in <code>Symbol.for(key)</code> <em>does</em> return the same symbol each time, so:</p>
<pre><code>Symbol.for(&quot;bar&quot;) === Symbol.for(&quot;bar&quot;);	// Evaluates to true
Symbol(&quot;bar&quot;) === Symbol(&quot;bar&quot;);			// Evaluates to false
</code></pre>
<p><code>Symbol.keyFor(sym)</code> is essentially opposite of <code>Symbol.for(key)</code>, instead of passing a key to get a symbol, you pass a symbol to get a key.</p>
<pre><code>var sym = Symbol.for(&quot;foo&quot;);		// Creates new global symbol
console.log(Symbol.keyFor(sym));	// Prints &quot;foo&quot;
</code></pre>
<h4 id="conclusion">Conclusion</h4>
<p>Although JavaScript symbols are a new and some-what interesting idea, I&apos;m skeptical of their usefulness without the guarentee of private properties. Some people have suggested they will be good for avoiding naming conflicts, which can be helpful, but I believe their true potential won&apos;t be realized without providing truely private properties. We&apos;ll see how things progress with future updates.</p>
<p><em>What do you think of Symbols? In what ways have you found them useful? Let us know in the comments!</em></p>
<!--kg-card-end: markdown--><!--kg-card-end: markdown-->
					