
						<!--kg-card-begin: markdown--><!--kg-card-begin: markdown--><h3 id="whatiscron">What is Cron?</h3>
<p><a rel="nofollow" target="_blank" href="https://en.wikipedia.org/wiki/Cron">Cron</a> is a scheduling utility that runs as a daemon process in the background of Unix-like systems. It&apos;s extremely popular for running periodic tasks, which can be anything you choose, like initiating a backup or clearing data from a database.</p>
<p>You can add tasks to Cron via the command line using the <code>crontab -e</code> command. Using the <code>-e</code> argument will put it in to edit mode and open your default editor where you can add the job. The syntax of a command looks like this:</p>
<pre><code class="language-bash">1 2 3 4 5 [USER] /path/to/command arg1 arg2
</code></pre>
<p>The numbers 1-5 represent different time increments you can specify for scheduling the job. More details below:</p>
<ul>
<li>1: Minute <em>(0-59)</em></li>
<li>2: Hour <em>(0-23)</em></li>
<li>3: Day <em>(0-31)</em></li>
<li>4: Month <em>(0-12, where 12 is December)</em></li>
<li>5: Day of Week <em>(0-7, where Sunday is 0 or 7)</em></li>
</ul>
<p>The <code>USER</code> argument is optional and is used to specify which user the command should be run as. You can also specify the user using the <code>-u</code> option. There are a lot more options and variations of the scheduling parameters, but we won&apos;t go in to any more detail here. There are plenty of other resources on the internet where you can find these details.</p>
<p>Here is a simple example of how to schedule a script to be run by Cron:</p>
<pre><code class="language-bash">45 17 3 * * /path/to/script.sh
</code></pre>
<p>Cron would then run this script at 5:45pm on the 3rd day of every month. Although the syntax can be a bit confusing at first, it is actually a very powerful way to schedule repeating tasks. This format has been adopted by many programs and utilities for specifying schedules.dq4</p>
<h3 id="nodecron">node-cron</h3>
<h4 id="whatisit">What is it?</h4>
<p>The Cron utility has become synonymous with scheduling tasks, which is how <a rel="nofollow" target="_blank" href="https://www.npmjs.com/package/cron"><code>node-cron</code></a> got its name. It doesn&apos;t actually use or interface with the Cron utility underneath, but instead it simply schedules and runs periodic tasks for you using Node&apos;s <code>setTimeout()</code> function. It does this by parsing the Cron format schedule you specify, figures out when the next &apos;tick&apos; should be, and sets the timeout accordingly.</p>
<h4 id="howtouseit">How to use it</h4>
<p>To use <code>node-cron</code>, you will have to schedule a function to run programmatically, which might actually be more convenient for you than having to mess with the command line. A simple function can be scheduled like this:</p>
<pre><code class="language-javascript">var cron = require(&apos;cron&apos;);

var job = new cron.CronJob(&apos;* * * * *&apos;, function() {
	console.log(&apos;Function executed!&apos;);
}, null, true);
</code></pre>
<p>When running this code, you&apos;ll see the text &apos;<em>Function executed!</em>&apos; printed to the console once every minute.</p>
<p>You can even get a bit fancier and specify the timezone in which the task should run. Or, another option, is to tell <code>node-cron</code> to not start the job yet. This way you can initialize the job and then use the <code>.start()</code> and <code>.stop()</code> methods only when you need it. See the full documentation for a full list of parameters and options.</p>
<h4 id="advantagesanddisadvantages">Advantages and Disadvantages</h4>
<p>Personally, I really like <code>node-cron</code> because of how easily you can programmatically schedule code to run. And since it runs on Node, you can use it on any system that supports Node (like Windows), and not just Unix-like systems. So whatever you&apos;re using it for, the code is more system independent than it would be if it used Cron directly.</p>
<p>The biggest downside, in my opinion, is that since it doesn&apos;t use Cron underneath, we don&apos;t get the persistence that we would have otherwise with Cron. What I mean by this is on a system restart, our &apos;job&apos; wouldn&apos;t be running anymore. Instead, you&apos;ll have to do some extra work to get the Node process running again, like setting it up to run on startup by placing/linking it in <code>/etc/init.d/</code>. It isn&apos;t very hard to do, but it also isn&apos;t very convenient.</p>
<!--kg-card-end: markdown--><!--kg-card-end: markdown-->
					