
						<!--kg-card-begin: markdown--><!--kg-card-begin: markdown--><h3 id="helloworldwithanodejsserver">Hello World with a Node.js Server</h3>
<p>Did you know that there are multiple ways to start a Node.js server and keep it running? In this post, we will explore various ways to start an HTTP Node server.</p>
<p>A Node.js server makes your app available to serve HTTP requests. It provides the interaction between users and your application.</p>
<p>Creating and starting a server is easy with Node.js&apos;s built-in <code>http</code> module.</p>
<p>In a file <strong>app.js</strong>, create and save the following server-creation code:</p>
<pre><code class="language-javascript">// app.js

const http = require(&apos;http&apos;);

// Create an instance of the http server to handle HTTP requests
let app = http.createServer((req, res) =&gt; {
    // Set a response type of plain text for the response
    res.writeHead(200, {&apos;Content-Type&apos;: &apos;text/plain&apos;});

    // Send back a response and end the connection
    res.end(&apos;Hello World!\n&apos;);
});

// Start the server on port 3000
app.listen(3000, &apos;127.0.0.1&apos;);
console.log(&apos;Node server running on port 3000&apos;);
</code></pre>
<p>In your terminal, run the command:</p>
<pre><code class="language-sh">$ node app.js
</code></pre>
<p>and visit <code>http://localhost:3000</code> in your browser.</p>
<script data-pagespeed-no-defer>//<![CDATA[
(function(){for(var g="function"==typeof Object.defineProperties?Object.defineProperty:function(b,c,a){if(a.get||a.set)throw new TypeError("ES3 does not support getters and setters.");b!=Array.prototype&&b!=Object.prototype&&(b[c]=a.value)},h="undefined"!=typeof window&&window===this?this:"undefined"!=typeof global&&null!=global?global:this,k=["String","prototype","repeat"],l=0;l<k.length-1;l++){var m=k[l];m in h||(h[m]={});h=h[m]}var n=k[k.length-1],p=h[n],q=p?p:function(b){var c;if(null==this)throw new TypeError("The 'this' value for String.prototype.repeat must not be null or undefined");c=this+"";if(0>b||1342177279<b)throw new RangeError("Invalid count value");b|=0;for(var a="";b;)if(b&1&&(a+=c),b>>>=1)c+=c;return a};q!=p&&null!=q&&g(h,n,{configurable:!0,writable:!0,value:q});var t=this;function u(b,c){var a=b.split("."),d=t;a[0]in d||!d.execScript||d.execScript("var "+a[0]);for(var e;a.length&&(e=a.shift());)a.length||void 0===c?d[e]?d=d[e]:d=d[e]={}:d[e]=c};function v(b){var c=b.length;if(0<c){for(var a=Array(c),d=0;d<c;d++)a[d]=b[d];return a}return[]};function w(b){var c=window;if(c.addEventListener)c.addEventListener("load",b,!1);else if(c.attachEvent)c.attachEvent("onload",b);else{var a=c.onload;c.onload=function(){b.call(this);a&&a.call(this)}}};var x;function y(b,c,a,d,e){this.h=b;this.j=c;this.l=a;this.f=e;this.g={height:window.innerHeight||document.documentElement.clientHeight||document.body.clientHeight,width:window.innerWidth||document.documentElement.clientWidth||document.body.clientWidth};this.i=d;this.b={};this.a=[];this.c={}}function z(b,c){var a,d,e=c.getAttribute("data-pagespeed-url-hash");if(a=e&&!(e in b.c))if(0>=c.offsetWidth&&0>=c.offsetHeight)a=!1;else{d=c.getBoundingClientRect();var f=document.body;a=d.top+("pageYOffset"in window?window.pageYOffset:(document.documentElement||f.parentNode||f).scrollTop);d=d.left+("pageXOffset"in window?window.pageXOffset:(document.documentElement||f.parentNode||f).scrollLeft);f=a.toString()+","+d;b.b.hasOwnProperty(f)?a=!1:(b.b[f]=!0,a=a<=b.g.height&&d<=b.g.width)}a&&(b.a.push(e),b.c[e]=!0)}y.prototype.checkImageForCriticality=function(b){b.getBoundingClientRect&&z(this,b)};u("pagespeed.CriticalImages.checkImageForCriticality",function(b){x.checkImageForCriticality(b)});u("pagespeed.CriticalImages.checkCriticalImages",function(){A(x)});function A(b){b.b={};for(var c=["IMG","INPUT"],a=[],d=0;d<c.length;++d)a=a.concat(v(document.getElementsByTagName(c[d])));if(a.length&&a[0].getBoundingClientRect){for(d=0;c=a[d];++d)z(b,c);a="oh="+b.l;b.f&&(a+="&n="+b.f);if(c=!!b.a.length)for(a+="&ci="+encodeURIComponent(b.a[0]),d=1;d<b.a.length;++d){var e=","+encodeURIComponent(b.a[d]);131072>=a.length+e.length&&(a+=e)}b.i&&(e="&rd="+encodeURIComponent(JSON.stringify(B())),131072>=a.length+e.length&&(a+=e),c=!0);C=a;if(c){d=b.h;b=b.j;var f;if(window.XMLHttpRequest)f=new XMLHttpRequest;else if(window.ActiveXObject)try{f=new ActiveXObject("Msxml2.XMLHTTP")}catch(r){try{f=new ActiveXObject("Microsoft.XMLHTTP")}catch(D){}}f&&(f.open("POST",d+(-1==d.indexOf("?")?"?":"&")+"url="+encodeURIComponent(b)),f.setRequestHeader("Content-Type","application/x-www-form-urlencoded"),f.send(a))}}}function B(){var b={},c;c=document.getElementsByTagName("IMG");if(!c.length)return{};var a=c[0];if(!("naturalWidth"in a&&"naturalHeight"in a))return{};for(var d=0;a=c[d];++d){var e=a.getAttribute("data-pagespeed-url-hash");e&&(!(e in b)&&0<a.width&&0<a.height&&0<a.naturalWidth&&0<a.naturalHeight||e in b&&a.width>=b[e].o&&a.height>=b[e].m)&&(b[e]={rw:a.width,rh:a.height,ow:a.naturalWidth,oh:a.naturalHeight})}return b}var C="";u("pagespeed.CriticalImages.getBeaconData",function(){return C});u("pagespeed.CriticalImages.Run",function(b,c,a,d,e,f){var r=new y(b,c,a,e,f);x=r;d&&w(function(){window.setTimeout(function(){A(r)},0)})});})();pagespeed.CriticalImages.Run('/mod_pagespeed_beacon','https://stackabuse.com/how-to-start-a-node-server-examples-with-the-most-popular-frameworks/','8Xxa2XQLv9',true,false,'Iyq0UCX_Gkw');
//]]></script><img alt="Hello, World!" src="https://s3.amazonaws.com/stackabuse/media/how-to-start-node-server-examples-with-most-popular-frameworks-1.png" class="img-responsive" data-pagespeed-url-hash="613889470" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
<p>You should see that our server is running, and you are greeted with the text &quot;Hello, World!&quot; in your browser. We created an instance of an HTTP server using the built-in <code>http</code> module. This is a simple but highly powerful server that can handle requests, issue responses and a whole lot more.</p>
<p>We can see the additional power of the basic HTTP server by extending it as follows to stream a video file. First, in the same directory with your <code>app.js</code> file, create a new directory named <strong>assets</strong>. Inside <strong>assets</strong>, place an <strong>mp4</strong> video file of your choice. Then adjust the new code listing below to replace my video name with your exact video name.</p>
<pre><code class="language-javascript">// app.js

const http = require(&apos;http&apos;);
const fs = require(&apos;fs&apos;);     // to help serve a local video file

// Create an instance of the http server to handle HTTP requests
let app = http.createServer((req, res) =&gt; {
    // Set a response type of mp4 video for the response
    res.writeHead(200, {&apos;Content-Type&apos;: &apos;video/mp4&apos;});

    // Read the video into a stream
    let vidstream = fs.createReadStream(&apos;assets/Yngwie_Malmsteen_interview.mp4&apos;);

    // Pipe our stream into the response
    vidstream.pipe(res);
});

// Start the server on port 3000
app.listen(3000, &apos;127.0.0.1&apos;);
console.log(&apos;Node server running on port 3000&apos;);
</code></pre>
<p>Now, when you restart the server and visit the app in the browser, you will see that our server is now streaming a video file.</p>
<img alt="Streaming video" src="https://s3.amazonaws.com/stackabuse/media/how-to-start-node-server-examples-with-most-popular-frameworks-2.png" class="img-responsive" data-pagespeed-url-hash="908389391" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
<h3 id="otheroptionsforstartingaserverwithnodejs">Other Options for Starting a Server with Node.js</h3>
<h4 id="usingotherservermodules">Using Other Server Modules</h4>
<p>We can also start a Node server using the <a rel="nofollow" target="_blank" href="https://www.npmjs.com/package/server">server</a> npm module. Note that this module requires Node version 7.6.0 or later.</p>
<p>In a fresh project, install the module with the command <code>npm install server --save</code>. Then create a file <code>app.js</code> with the following contents:</p>
<pre><code class="language-javascript">// app.js

const server = require(&apos;server&apos;);

const { get, post } = server.router;

// Launch server
server({ port: 3000 }, [
    get(&apos;/&apos;, ctx =&gt; &apos;Hello world!&apos;)
]);
</code></pre>
<p>Run the server with</p>
<pre><code class="language-sh">$ node app.js
</code></pre>
<p>In your browser, you should see the &quot;Hello world!&quot; text.</p>
<p>If all you want is a Node.js server to serve HTML and serve static files without you coding anything for the server, Node has a solution for that as well. In this case you need to install the <a rel="nofollow" target="_blank" href="https://www.npmjs.com/package/http-server">http-server</a> zero-configuration, command-line server to serve your files.</p>
<p>To use <code>http-server</code>, install it with the command <code>npm install http-server -g</code>.</p>
<p>In a fresh directory, create a child directory named <strong>public</strong> in which we will place static files for <code>http-server</code> to serve. Create a static HTML file inside this <strong>public</strong> directory named <strong>index.html</strong> with the following contents:</p>
<pre><code class="language-html">&lt;!-- public/index.html --&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;Hello from http-server&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;

    &lt;h1&gt;Hello, World!&lt;/h1&gt;

   &lt;/body&gt;
&lt;/html&gt;
</code></pre>
<p>Then you can run the <code>http-server</code> using the command:</p>
<pre><code class="language-sh">$ http-server ./public
</code></pre>
<p>Visit <a rel="nofollow" target="_blank" href="http://localhost:8081">http://localhost:8081</a> to verify that the server is running and serves our file with the &quot;Hello World&quot; message. This Node.js serving option is useful for serving a simple app that does mainly front-end work.</p>
<h4 id="keepingserversrunningwithforever">Keeping Servers Running with forever</h4>
<p>Another scenario arises when you have a running Node.js server that you want to keep running automatically. <a rel="nofollow" target="_blank" href="https://github.com/foreverjs/forever">forever</a> will help you keep Node servers running even after the operating system is rebooted. It also restarts your app after a crash, making it useful for monitoring and restarting Node servers.</p>
<h4 id="keepserversrunningwithpm2">Keep Servers Running with PM2</h4>
<p><a rel="nofollow" target="_blank" href="https://www.npmjs.com/package/pm2">PM2</a> is an alternative to forever that keeps apps running between server restarts. It also has a built-in load balancer for improved uptime. It is a bit more powerful, but also complicated, so it may not be suited for beginners.</p>
<h4 id="howframeworkshelptostartanodeserver">How Frameworks Help to Start a Node Server</h4>
<p>Besides the options for running servers we discussed above, you can also run a server using code provided by the framework itself. Frameworks bring advantages like good default conventions and the ability to develop fast without writing common software routines from scratch.</p>
<p>A <a rel="nofollow" target="_blank" href="http://nodeframework.com/">list of the most popular Node frameworks</a> based on GitHub stars includes the following:</p>
<ul>
<li><a rel="nofollow" target="_blank" href="https://expressjs.com/">Express</a></li>
<li><a rel="nofollow" target="_blank" href="http://koajs.com/">Koa</a></li>
<li><a rel="nofollow" target="_blank" href="https://socket.io/docs/">Socket.io</a></li>
<li><a rel="nofollow" target="_blank" href="https://www.meteor.com/">Meteor</a></li>
<li><a rel="nofollow" target="_blank" href="https://loopback.io/">Loopback</a></li>
</ul>
<p>In the following sections we will show how to start a Node server using a few of these popular options.</p>
<h3 id="framework1startinganodeserverwithexpress">Framework 1: Starting a Node Server with Express</h3>
<p><a rel="nofollow" target="_blank" href="https://expressjs.com/">Express</a> is the most well-known minimalist web framework for Node.js. It is suited for all kinds of apps from small to large. Because it leaves most of the choices to the developer, it&apos;s good for seasoned developers.</p>
<p>To get started, create a new project folder with a file inside it named <strong>app.js</strong>.</p>
<p>Next, install Express with the following:</p>
<pre><code class="language-sh">$ npm install express
</code></pre>
<p>Now update <strong>app.js</strong> as follows to start a Node server using Express.</p>
<pre><code class="language-javascript">// app.js
const express = require(&apos;express&apos;)

// Create Express app
const app = express()

// A sample route
app.get(&apos;/&apos;, (req, res) =&gt; res.send(&apos;Hello World!&apos;))

// Start the Express server
app.listen(3000, () =&gt; console.log(&apos;Server running on port 3000!&apos;))
</code></pre>
<p>Run the server with the command:</p>
<pre><code class="language-sh">$ node app.js
</code></pre>
<p>and visit <code>http://localhost:3000</code> to see the Express server in action.</p>
<h3 id="framework2startinganodeserverwithkoajs">Framework 2: Starting a Node Server with Koa.js</h3>
<p><a rel="nofollow" target="_blank" href="http://koajs.com/">Koa</a> is a minimalist framework by the makers of Express. It aims to be simpler, even less opinionated, and more expressive. As such, it is recommended for developers who want a more purist approach than even Express provides.</p>
<p>Install Koa with:</p>
<pre><code class="language-sh">$ npm i koa
</code></pre>
<p>Create the following minimal Koa app inside a new file, <strong>app.js</strong>.</p>
<pre><code class="language-javascript">// app.js
const Koa = require(&apos;koa&apos;);

// Create Koa app
const app = new Koa();

// Serve requests, here, printing out a simple greeting
app.use(async ctx =&gt; {
    ctx.body = &apos;Hello World&apos;;
});

// Start the server
app.listen(3000);
</code></pre>
<p>Run this server by executing:</p>
<pre><code class="language-sh">$ node app.js
</code></pre>
<p>Then visit <a rel="nofollow" target="_blank" href="http://localhost:3000">http://localhost:3000</a> in your browser to see the server running. You will be greeted by the same response text as we saw when running the Express server.</p>
<h3 id="framework3nodeaserverwithsocketio">Framework 3: Node a Server with Socket.io</h3>
<p><a rel="nofollow" target="_blank" href="https://socket.io/">Socket.io</a> is a real-time Node framework. It is particularly advantageous when you are developing messaging and chat applications. The platform works equally well for other apps involving bidirectional, event-based calls.</p>
<p>Create a new project and install Socket.io with the command:</p>
<pre><code class="language-sh">$ npm install --save socket.io
</code></pre>
<p>Also install Express, which we&apos;ll use to integrate with Socket.io, using the command:</p>
<pre><code class="language-sh">$ npm install --save <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="8de8f5fdffe8fefecdb9a3bcb8a3bf">[email&#xA0;protected]</a>
</code></pre>
<p>Then create a file <strong>index.js</strong> with the following:</p>
<pre><code class="language-javascript">// index.js
// Require and create our server packages
let app = require(&apos;express&apos;)();
let http = require(&apos;http&apos;).Server(app);
let io = require(&apos;socket.io&apos;)(http);

// Send socket initialization scripts to the client
app.get(&apos;/&apos;, function(req, res){
    res.send(`
&lt;script src=&quot;/socket.io/socket.io.js&quot;&gt;&lt;/script&gt;
&lt;script&gt;
    let socket = io();
    socket.on(&apos;text&apos;, (txt) =&gt; {
        let textp = document.createElement(&quot;h1&quot;);
        let t = document.createTextNode(txt);
        textp.appendChild(t);                                            
        document.body.appendChild(textp);
    });
&lt;/script&gt;`);
});

// Respond to socket connections with a Hello World text
io.on(&apos;connection&apos;, (socket) =&gt; {
    console.log(&apos;User connected&apos;);
    io.emit(&apos;text&apos;, &apos;Hello, World!&apos;);
});

// Run our socket-enabled server
http.listen(3000, function() {
    console.log(&apos;listening on *:3000&apos;);
});
</code></pre>
<p>What this does is create a socket.io instance attached to our Express server. When clients connect to the socket, our socket.io server sends back a &quot;Hello, World&quot; greeting over the socket connection. To see the results, run the following command:</p>
<pre><code class="language-sh">$ node index.js
</code></pre>
<h3 id="framework4serverwithdietjs">Framework 4: Server with Diet.js</h3>
<p><a rel="nofollow" target="_blank" href="http://dietjs.com/">Diet.js</a> is a micro-framework for writing modular Node.js apps and APIs. It allows creating of virtual hosts and other cool features. You will want to consider it as an alternative to minimalist frameworks like Express. The core of the framework is only 450 <a rel="nofollow" target="_blank" href="https://en.wikipedia.org/wiki/Source_lines_of_code">SLOC</a>. It integrates with a wide variety of middleware that runs on Node.js.</p>
<p>To start a server using Diet.js, create a new project and install Diet.js with:</p>
<pre><code class="language-sh">$ npm install diet
</code></pre>
<p>Then, create a source file <code>index.js</code> with the following code:</p>
<pre><code class="language-javascript">// index.js
const server = require(&apos;diet&apos;);

// Create a diet server
let app = server();

// Start the server on port 3000
app.listen(&apos;http://localhost:3000&apos;);

// Serve the home route
app.get(&apos;/&apos;, ($) =&gt; {
    // Respond with a greeting and end the request
    $.end(&apos;Hello, World!&apos;);
});
</code></pre>
<p>Start the server with the command:</p>
<pre><code class="language-sh">$ node index.js
</code></pre>
<p>And then visit <a rel="nofollow" target="_blank" href="http://localhost:3000">http://localhost:3000</a> to view the server running.</p>
<p>Diet.js has a simple API, combining many concepts from Express in a simpler API and implementation. This reduces the learning curve for developing a simple app. If you have a bigger app in mind, more structured frameworks like Sails.js might suit you better.</p>
<h3 id="framework5startinganodeserverwithsailsjs">Framework 5: Starting a Node Server with Sails.js</h3>
<p><a rel="nofollow" target="_blank" href="https://sailsjs.com/">Sails</a> is the Node.js answer to full-featured MVC frameworks like Ruby on Rails. Its use of Node.js real-time capabilities makes it a fit for apps using websockets and messaging. It comes with blueprints that make it easy to quickly prototype a backend with very little code.</p>
<p>Let&apos;s create a fresh new directory and install Sails with the following:</p>
<pre><code class="language-sh">$ npm install sails -g
</code></pre>
<p>This installs Sails globally on your system. Then, create a Sails app with the command <code>$ sails new helloapp</code>. Inside the newly created <code>helloapp</code> folder, run the Sails server with the command:</p>
<pre><code class="language-sh">$ sails lift
</code></pre>
<p>Visit <a rel="nofollow" target="_blank" href="http://localhost:1337">http://localhost:1337</a> to see the app served locally.</p>
<p>Sails generated a complete app with the <code>sails new</code> command. The app is initialized in the file <strong>app.js</strong>, which has the following generated contents:</p>
<pre><code class="language-javascript">/**
 * app.js
 *
 * Use `app.js` to run your app without `sails lift`.
 * To start the server, run: `node app.js`.
 *
 * This is handy in situations where the sails CLI is not relevant or useful.
 *
 * For example:
 *   =&gt; `node app.js`
 *   =&gt; `forever start app.js`
 *   =&gt; `node debug app.js`
 *   =&gt; `modulus deploy`
 *   =&gt; `heroku scale`
 *
 *
 * The same command-line arguments are supported, e.g.:
 * `node app.js --silent --port=80 --prod`
 */


// Ensure we&apos;re in the project directory, so cwd-relative paths work as expected
// no matter where we actually lift from.
// &gt; Note: This is not required in order to lift, but it is a convenient default.
process.chdir(__dirname);

// Attempt to import `sails`.
var sails;
try {
  sails = require(&apos;sails&apos;);
} catch (e) {
  console.error(&apos;To run an app using `node app.js`, you usually need to have a version of `sails` installed in the same directory as your app.&apos;);
  console.error(&apos;To do that, run `npm install sails`&apos;);
  console.error(&apos;&apos;);
  console.error(&apos;Alternatively, if you have sails installed globally (i.e. you did `npm install -g sails`), you can use `sails lift`.&apos;);
  console.error(&apos;When you run `sails lift`, your app will still use a local `./node_modules/sails` dependency if it exists,&apos;);
  console.error(&apos;but if it doesn\&apos;t, the app will run with the global sails instead!&apos;);
  return;
}

// --&#x2022;
// Try to get `rc` dependency (for loading `.sailsrc` files).
var rc;
try {
  rc = require(&apos;rc&apos;);
} catch (e0) {
  try {
    rc = require(&apos;sails/node_modules/rc&apos;);
  } catch (e1) {
    console.error(&apos;Could not find dependency: `rc`.&apos;);
    console.error(&apos;Your `.sailsrc` file(s) will be ignored.&apos;);
    console.error(&apos;To resolve this, run:&apos;);
    console.error(&apos;npm install rc --save&apos;);
    rc = function () { return {}; };
  }
}


// Start server
sails.lift(rc(&apos;sails&apos;));
</code></pre>
<p>The initialization code imports Sails, then loads the application and starts the Sails server.</p>
<p>Sails has the advantage of being particularly fast and scalable. In this <a rel="nofollow" target="_blank" href="http://serdardogruyol.com/sails-vs-rails-a-quick-and-dirty-benchmark">benchmark against Rails</a>, Sails performed as much as 3x-4x as fast. The performance-critical part of Sails for apps at scale tends to be the database, where pagination and indexes can be used to speed things up.</p>
<h3 id="framework6usingmeanioforanodeserver">Framework 6: Using MEAN.io for a Node Server</h3>
<p><a rel="nofollow" target="_blank" href="http://mean.io/">MEAN.io</a> is one of the more well-known full-stack JavaScript frameworks. It is one variant of the so-called &quot;MEAN Stack&quot;, with MEAN.js being another variant. MEAN uses MongoDB, Express, Angular and Node.js.</p>
<p>To start a MEAN.io app, clone the reference implementation of the MEAN.io model app using the command:</p>
<pre><code class="language-sh">$ git clone https://github.com/linnovate/mean.git  
</code></pre>
<div style="padding: 35px;margin: 25px;background-color: #f3f3f3;border-radius: 4px;">
    Suggested Course:
    <a class="udemy-link" style="text-decoration: underline;" rel="nofollow" target="_blank" href="http://stackabu.se/master-mean-stack-by-example">
        Master the MEAN Stack - Learn By Example
    </a>
</div>
<p>You can alternatively clone into another directory of your choice. Then change into the new <strong>mean</strong> directory or your chosen directory, and install dependencies with:</p>
<pre><code class="language-sh">$ npm install
</code></pre>
<p>Run the application with <code>npm start</code> and visit <a rel="nofollow" target="_blank" href="http://localhost:4040">http://localhost:4040</a> to see it in action.</p>
<p>The code for setting up the server is found in the file <code>server\\config\\express.js</code> which contains the following:</p>
<pre><code class="language-javascript">import express from &apos;express&apos;;
import logger from &apos;morgan&apos;;
import bodyParser from &apos;body-parser&apos;;
import cookieParser from &apos;cookie-parser&apos;;
import compress from &apos;compression&apos;;
import methodOverride from &apos;method-override&apos;;
import cors from &apos;cors&apos;;
import httpStatus from &apos;http-status&apos;;
import expressWinston from &apos;express-winston&apos;;
import expressValidation from &apos;express-validation&apos;;
import helmet from &apos;helmet&apos;;
import winstonInstance from &apos;./winston&apos;;
import routes from &apos;../routes/index.route&apos;;
import config from &apos;./config&apos;;
import APIError from &apos;../helpers/APIError&apos;;
import path from &apos;path&apos;;
import appRoot from &apos;app-root-path&apos;;
import innograph from &apos;innograph&apos;
import postCtrl from &apos;../controllers/post.controller&apos;;


const app = express();

if (config.env === &apos;development&apos;) {
  app.use(logger(&apos;dev&apos;));
}

// parse body params and attache them to req.body
app.use(bodyParser.json());
app.use(bodyParser.urlencoded({ extended: true }));

app.use(cookieParser());
app.use(compress());
app.use(methodOverride());

// secure apps by setting various HTTP headers
app.use(helmet());

// enable CORS - Cross Origin Resource Sharing
app.use(cors());

// enable detailed API logging in dev env
if (config.env === &apos;development&apos;) {
  expressWinston.requestWhitelist.push(&apos;body&apos;);
  expressWinston.responseWhitelist.push(&apos;body&apos;);
  // app.use(expressWinston.logger({
  //   winstonInstance,
  //   meta: true, // optional: log meta data about request (defaults to true)
  //   msg: &apos;HTTP {{req.method}} {{req.url}} {{res.statusCode}} {{res.responseTime}}ms&apos;,
  //   colorStatus: true // Color the status code (default green, 3XX cyan, 4XX yellow, 5XX red).
  // }));
}
app.use(express.static(path.join(appRoot.path, &apos;dist&apos;)));

app.use(&apos;/api&apos;, routes);

innograph.init(&apos;/api/graphql&apos;, app, {post: postCtrl});

app.get(&apos;*&apos;, (req, res) =&gt; {
  res.sendFile(path.join(appRoot.path, &apos;dist/index.html&apos;));
});

// if error is not an instanceOf APIError, convert it.
app.use((err, req, res, next) =&gt; {
  if (err instanceof expressValidation.ValidationError) {
    // validation error contains errors which is an array of error each containing message[]
    const unifiedErrorMessage = err.errors.map(error =&gt; error.messages.join(&apos;. &apos;)).join(&apos; and &apos;);
    const error = new APIError(unifiedErrorMessage, err.status, true);
    return next(error);
  } else if (!(err instanceof APIError)) {
    const apiError = new APIError(err.message, err.status, err.isPublic);
    return next(apiError);
  }
  return next(err);
});

// catch 404 and forward to error handler
app.use((req, res, next) =&gt; {
  const err = new APIError(&apos;API not found&apos;, httpStatus.NOT_FOUND);
  return next(err);
});

// log error in winston transports except when executing test suite
if (config.env !== &apos;test&apos;) {
  app.use(expressWinston.errorLogger({
    winstonInstance
  }));
}

// error handler, send stacktrace only during development
app.use((err, req, res, next) =&gt; // eslint-disable-line no-unused-vars
  res.status(err.status).json({
    message: err.isPublic ? err.message : httpStatus[err.status],
    stack: config.env === &apos;development&apos; ? err.stack : {}
  })
);

export default app;
</code></pre>
<p>At the heart of the MEAN stack is an Express server that uses Node middleware such as <a rel="nofollow" target="_blank" href="https://github.com/expressjs/body-parser">bodyParser</a> for processing request payloads, <a rel="nofollow" target="_blank" href="https://www.npmjs.com/package/winston">winston</a> for request logging and <a rel="nofollow" target="_blank" href="https://www.npmjs.com/package/helmet">helmet</a> for securing HTTP requests.</p>
<p>The advantages of MEAN include being based on robust technologies that have proven ability to power high traffic apps. The reference app integrates MongoDB as well as Angular and React. It uses Typescript as well, along with some example components so that you can use them as a launching point. If you don&apos;t need a certain library, you can drop it from the dependencies in the package.json file.</p>
<h3 id="framework7startanodeserverwithloopbacktheapiframework">Framework 7: Start a Node Server with LoopBack, the API Framework</h3>
<p><a rel="nofollow" target="_blank" href="http://loopback.io/">Loopback</a> is a Node framework that lets you build API-focused apps fast. It has automated parts of the API-creation process, making it possible to generate RESTful APIs with little to no coding. Loopback combines a set of modules that you can integrate as your app requirements grow. This lets you build apps in a modular way using standard Loopback modules.</p>
<p>You can install Loopback globally with the command:</p>
<pre><code class="language-sh">$ npm install -g loopback-cli
</code></pre>
<p>To create a project, run <code>lb</code>, which will walk you through the creation of a basic Loopback application.</p>
<p>Pick the <code>hello-world</code> app, to include a simple message and controller. The other options are to create an API, or a project containing a basic working example with a memory database.</p>
<p>Going with the <code>hello-world</code> app type generates a basic app. Inside the file &quot;server/server.js&quot; you will find the following generated code:</p>
<pre><code class="language-javascript">&apos;use strict&apos;;

var loopback = require(&apos;loopback&apos;);
var boot = require(&apos;loopback-boot&apos;);

var app = module.exports = loopback();

app.start = function() {
  // start the web server
  return app.listen(function() {
    app.emit(&apos;started&apos;);
    var baseUrl = app.get(&apos;url&apos;).replace(/\/$/, &apos;&apos;);
    console.log(&apos;Web server listening at: %s&apos;, baseUrl);
    if (app.get(&apos;loopback-component-explorer&apos;)) {
      var explorerPath = app.get(&apos;loopback-component-explorer&apos;).mountPath;
      console.log(&apos;Browse your REST API at %s%s&apos;, baseUrl, explorerPath);
    }
  });
};

// Bootstrap the application, configure models, datasources and middleware.
// Sub-apps like REST API are mounted via boot scripts.
boot(app, __dirname, function(err) {
  if (err) throw err;

  // start the server if `$ node server.js`
  if (require.main === module)
    app.start();
});
</code></pre>
<p>This code initializes the Loopback server, which you can start with the command <code>node</code>. Visit <a rel="nofollow" target="_blank" href="http://localhost:3000">http://localhost:3000</a> to verify the server is running. You can also look at <a rel="nofollow" target="_blank" href="http://localhost:3000/explorer">http://localhost:3000/explorer</a> to view the Loopback API interface.</p>
<p>Our API is empty to begin with. Creating a new model and REST endpoints is easy with the Loopback CLI. Run the command <code>lb model</code> and type a model name such as &quot;movie&quot;, but without the quotes.</p>
<p>Then adjust the values for persistence and other setup according to the prompt or accept the defaults.</p>
<p>Create some properties of the model and define the data types. For example, a movie can have a <strong>title</strong> which will be a string. Enter as many properties as you&apos;d like, and then finish.</p>
<p>Now we have an API for movies, which you can access with a GET request to <a rel="nofollow" target="_blank" href="http://localhost:3000/api/movies">http://localhost:3000/api/movies</a>. This will return an empty JSON array. You can explore the API with the API explorer at <a rel="nofollow" target="_blank" href="http://localhost:3000/explorer">http://localhost:3000/explorer</a>.</p>
<p>Create some movies and then interact with the API in the browser to see the Loopback server in action. Also, look at the generated source code for the API. Loopback makes developing APIs really easy.</p>
<h3 id="choosingthebestnodeserverforyourapp">Choosing the Best Node Server for your App</h3>
<p>Choosing the best way for serving your Node.js application involves a series of trade-offs. Rolling your own framework based on the <code>http</code> module is practical, given the wide range of middle-ware you can integrate with a Node app. This path gives you the ability to make all the choices yourself about how your app will work.</p>
<p>Going with a framework such as Socket.io or Sails lets you build on a tested foundation that others have used successfully. The wide range of frameworks also makes it possible for you to reuse code from these libraries to get started a bit faster.</p>
<p>The trade-off with frameworks, particularly opinionated ones like Sails, is that some of the technical choices are already made for you. If you want something outside the norm of what the framework is optimized for, you could have a hard time. Koa and Express offer a safe middle ground where very few choices or assumptions about your app have been made.</p>
<p>Here is a quick guide to selecting the framework that lets you build effectively depending on your app&apos;s needs:</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>App Description</th>
            <th>Suggested Framework</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>No assumptions, minimalist approach, modular</td>
            <td>Diet.js, Koa, Express</td>
        </tr>
        <tr>
            <td>Large codebase, fits certain conventions, scalable</td>
            <td>MEAN.io</td>
        </tr>
        <tr>
            <td>Chat, messaging</td>
            <td>Socket.io</td>
        </tr>
        <tr>
            <td>Ready-made blueprints and very strong conventions, API-focused, some &quot;magic&quot;</td>
            <td>Sails.js, Loopback</td>
        </tr>
    </tbody>
</table><!--kg-card-end: markdown--><!--kg-card-end: markdown-->
					