
						<!--kg-card-begin: markdown--><!--kg-card-begin: markdown--><p>For as popular as this JavaScript run-time has become, you might be surprised to find out that it actually still isn&apos;t very easy to install Node.js on Ubuntu and other Linux distributions. It&apos;s still more of a manual process than it should be. I find myself Googling this just about every time I set up a new Linux machine, so I thought I&apos;d write up some instructions on a few different ways you can install Node on Ubuntu.</p>
<h3 id="optionsforinstallingnodejsonubuntu">Options for Installing Node.js on Ubuntu</h3>
<p>There are a few different ways you can perform the install, depending on your requirements and customization needs. Here are a few of the more popular methods:</p>
<ol>
<li><a href="#ubuntuspackagemanager">Ubuntu&apos;s package manager</a></li>
<li><a href="#ubuntupackagefromnodesource">Ubuntu package from NodeSource</a></li>
<li><a href="#binarydirectlyfromnodejsorg">Binary directly from Node</a></li>
<li><a href="#installfromsource">Install from Source</a></li>
</ol>
<h4 id="ubuntuspackagemanager">Ubuntu&apos;s package manager</h4>
<p>This is, in my opinion, the easiest method. I always try to install packages through <code>apt-get</code> whenever possible to keep everything in one place. This way you&apos;ll also know the commands to uninstall the package when needed.</p>
<p><strong>NOTE</strong>: As of the time of this writing (11/25/15), the binary installed with <code>apt-get</code> is only v0.10.25, while the latest stable version available is v5.1.0, so they&apos;re pretty far behind. For the newest version, check the other install methods below.</p>
<p>To install Node and npm via <code>apt-get</code>, run these commands:</p>
<pre><code class="language-bash">sudo apt-get update
sudo apt-get install nodejs
sudo ln -s /usr/bin/nodejs /usr/bin/node
sudo apt-get install npm
</code></pre>
<p>Since the package is linked as <code>nodejs</code> and not the typical <code>node</code> name, we have to add a symlink, otherwise some services won&apos;t work correctly as they expect the <code>node</code> command to be available.</p>
<h4 id="ubuntupackagefromnodesource">Ubuntu package from NodeSource</h4>
<p>If you still want to use <code>apt-get</code>, but need a much newer version of Node, you should use this method.</p>
<p>This is very similar to the last one I showed you, but instead we&apos;ll be running a script (maintained and distributed by NodeSource) to show the package manager where to get the latest version.</p>
<p>Here are the commands:</p>
<pre><code class="language-bash">curl -sL https://deb.nodesource.com/setup_5.x | sudo -E bash -
sudo apt-get install -y nodejs
sudo ln -s /usr/bin/nodejs /usr/bin/node
</code></pre>
<p>There is no need to explicitly install npm as it is already included with this binary.</p>
<h4 id="binarydirectlyfromnodejsorg">Binary Directly from nodejs.org</h4>
<p>You can skip all of the package manager hand-waiving and just install a binary directly from <a rel="nofollow" target="_blank" href="https://nodejs.org">nodejs.org</a> itself.</p>
<p>Just make sure you install the correct version for your system. They have binaries for all different version, operatings systems, and CPU architectures. If you&apos;re not exactly sure what the name of the binary will be for your system, try <a rel="nofollow" target="_blank" href="https://nodejs.org/dist/">browsing</a> through the distributions.</p>
<p>In my case here, I needed version 5.1.0 for 64-bit Linux:</p>
<pre><code class="language-bash">wget http://nodejs.org/dist/v5.1.0/node-v5.1.0-linux-x64.tar.gz
sudo tar -C /usr/local --strip-components 1 -xzf node-v5.1.0-linux-x64.tar.gz
</code></pre>
<p>This will give you both the <code>node</code> binary and <code>npm</code>.</p>
<h3 id="installfromsource">Install from Source</h3>
<p>This one is a bit more complicated, but you&apos;ll learn a bit more by doing it this way.</p>
<p>First, you&apos;ll need to install a few tools required to build the code. For this step, all you need to do is:</p>
<pre><code class="language-bash">apt-get install make g++ libssl-dev
</code></pre>
<p>Once that has completed (or if you already have these packages installed), you can download the source code from nodejs.org:</p>
<pre><code class="language-bash">cd /tmp
wget http://nodejs.org/dist/v5.1.0/node-v5.1.0.tar.gz
tar -xvf node-v5.1.0.tar.gz
cd node-v5.1.0
</code></pre>
<p>You&apos;ll probably notice that the URL looks much like the one from the last method. It is very similar, but if you look closer there is no &quot;linux-x64&quot; in the name, meaning it hasn&apos;t already been built for a particular system. This download gives us just the source code.</p>
<p>Next, configure and build the code:</p>
<pre><code class="language-bash">./configure
make -jX
</code></pre>
<p>And finally, if everything went well with the last command, install it:</p>
<pre><code class="language-bash">make install
</code></pre>
<h3 id="conclusion">Conclusion</h3>
<p>And that&apos;s it, you&apos;re done! Regardless of whatever installation method you used, you should run <code>node -v</code> to verify the build/install worked correctly. If you used either of the last two methods, make sure the version printed out matches the one you intended to download.</p>
<p>Node.js is under heavy development right now and seems to at least be releasing a new minor version every week. What this means is <code>apt</code> probably won&apos;t be able to keep up with all the new version coming out, so you&apos;ll probably be better off using the last two methods.</p>
<!--kg-card-end: markdown--><!--kg-card-end: markdown-->
					