
						<!--kg-card-begin: markdown--><!--kg-card-begin: markdown--><h4 id="introduction">Introduction</h4>
<p>There&apos;s no doubt that JavaScript popularity has skyrocketed the last few years, and its quickly becoming the language of choice for not only client-side code, but server side as well. I had never been a huge fan of JavaScript, it just seemed too messy and unnecessarily confusing. While I still believe some of this to be true, much of it was just a misunderstanding of the language and an intolerance for a lack of certain features/syntax (i.e. traditional classes).</p>
<p>With the release of ES6, JavaScript seems to be moving more towards the language I personally want it to be, with the addition of traditional-style classes, generators, iterators, built-in Promises, and many other features. Personally, I believe this will ease the transition for developers coming from other languages like Java (like I did), Python, and C++. Learning JavaScript opens up a lot more possibilities to developers, allowing them to write code for just about any platform you&apos;d want (browser-side, server-side via <a href="https://nodejs.org/">Node</a>/<a href="https://iojs.org">io.js</a>, mobile apps via <a href="https://facebook.github.io/react-native/">React Native</a>, and even desktops apps).</p>
<p>Keep an eye on the new ES6 and ES7 features, they&apos;re all there for a reason and solve some big problems for developers, like dealing with <a href="https://stackabuse.com/avoiding-callback-hell-in-node-js/">callback hell</a>.</p>
<p>In this article, I&apos;ll be going through the features and caveats of ES6 classes.</p>
<h4 id="es6classes">ES6 Classes</h4>
<p>So, let&apos;s get right in to it. Here are the bare essentials to create a ES6 class:</p>
<pre><code>class Animal {}

var a = new Animal();
</code></pre>
<p>This does exactly what it looks like, it defines an empty class with no properties or methods. There are a few different ways to define an ES6 class, with the above syntax being one of them. You can also define anonymous, or unnamed classes, like so:</p>
<pre><code>var Animal = class {
    constructor(name) {
        this.name = name;
    }
};
</code></pre>
<p>This is equivalent to anonymous classes in Java, where you define and instantiate the class at the same time.</p>
<p>From here, we can add a properties. In order to do that, we must define them within the constructor, as opposed to outside of it like Java requires.</p>
<pre><code>class Animal {
	constructor() {
		this._name = &apos;cow&apos;;
	}
}

var a = new Animal();
console.log(a._name);	// Prints &apos;cow&apos;
</code></pre>
<p>To access or modify this data, we can define getter and setter methods:</p>
<pre><code>class Animal {
	constructor(n) {
		this._name = n;
	}

	get name() {
		return this._name;
	}

	set name(n) {
		this._name = n;
	}
}

var a = new Animal(&apos;cow&apos;);
console.log(a.name);	// Prints &apos;cow&apos;
a.name = &apos;cat&apos;
console.log(a.name);	// Prints &apos;cat&apos;
</code></pre>
<p>As with many other languages, we can use both static and instance methods to access or manipulate class data:</p>
<pre><code>class Animal {
	constructor(n) {
		this._name = n;
	}

	get name() {
		return this._name;
	}

	set name(n) {
		this._name = n;
	}

	fullName() {
		return &apos;holy &apos; + this._name;
	}

	static className() {
		return &apos;Animal&apos;;
	}
}

var a = new Animal(&apos;cow&apos;);
console.log(Animal.className());	// Prints &apos;Animal&apos;
console.log(a.fullName());			// Prints &apos;holy cow&apos;
</code></pre>
<p>For Java and C# developers, this should look familiar. We have the traditional methods and static methods, just like in many other languages.</p>
<p>So far, the features I&apos;ve shown don&apos;t add too much to JavaScript that we couldn&apos;t already do before. The real usefulness of ES6 classes is realized when we use inheritance with the <code>extends</code> keyword. This functionality was available before, but you had to deal with the <code>prototype</code> and use <code>util.inherits</code>, which felt a bit awkward and wasn&apos;t very clear to novice JS developers. Now, we can do something like this:</p>
<pre><code>class Dog extends Animal {
	constructor() {
		super(&apos;dog&apos;);
	}

	fullName() {
		return &apos;snoop &apos; + this._name;
	}

	static className() {
		return &apos;Dog&apos;;
	}
}

var d = new Dog();
console.log(Dog.className());	// Prints &apos;Dog&apos;
console.log(d.fullName());		// Prints &apos;snoop dog&apos;
</code></pre>
<p>This syntax and behavior should be understandable and intuitive enough for most developers to dive right in. Additionally, it should also make learning JS much easier to more novice programmers.</p>
<p>One caveat to watch out for is &apos;hoisting&apos;. Hoisting is JavaScript&apos;s default behavior of moving declarations to the top. The difference between class declarations and function declarations is that functions are <em>hoisted</em> and classes are not. This means that in order to use a class, it must be defined <em>before</em> you use it.</p>
<pre><code>var a = new Animal();    // ReferenceError!
class Animal {}
</code></pre>
<p>Functions, on the other hand, can be used before they are defined.</p>
<h4 id="conclusion">Conclusion</h4>
<p>Although much of this functionality has always been available, I believe this is a huge step in making JS more user-friendly. Syntax and ease-of-use is a huge factor in language adoption, so this will likely propel JS even further in popularity.</p>
<p><em>What do you think about the new ES6 classes? Let us know what you think in the comments!</em></p>
<!--kg-card-end: markdown--><!--kg-card-end: markdown-->
					