
						<!--kg-card-begin: markdown--><!--kg-card-begin: markdown--><p>Within the past 6 months alone, Node.js has gone from v0.12.x to v5.1.x. There were 35+ releases in that time period, with each one adding some significant functionality or bugs fixes. A big part of this jump was the merging of <a rel="nofollow" target="_blank" href="https://iojs.org/en/">io.js</a> in to Node, which was under much more rapid development.</p>
<p><a href="https://stackabuse.com/how-to-install-node-js-on-ubuntu/">Installing Node</a> isn&apos;t the easiest process, or at least it isn&apos;t convenient to constantly be uninstalling and reinstalling it every few days. This became a big problem for developers needing to support multiple versions of Node for their libraries and for users who had to switch between versions for different software.</p>
<p>For example, the popular blogging platform <a rel="nofollow" target="_blank" href="https://github.com/tryghost/Ghost">Ghost</a> only supported v0.10.0 and v0.12.0 for a long time. So if you were doing any development with io.js or v1.0.x+ versions then you&apos;d have to switch back and forth between Node/io.js versions to use Ghost.</p>
<p>Between the fast-paced releases and having to support multiple versions of Node, there&apos;s got to be an easier way to switch between versions. And this is where <a rel="nofollow" target="_blank" href="https://github.com/creationix/nvm">NVM</a> comes in.</p>
<h3 id="whatisnvm">What is NVM?</h3>
<p>Node Version Manager (NVM) is a utility to help you quickly install and switch between Node versions. With NVM, there is no need to manually install and uninstall versions like you used to.</p>
<p>Also, every time you install a new Node.js version, you also get the corresponding <a rel="nofollow" target="_blank" href="https://www.npmjs.com/">npm</a> package with it, so there&apos;s no need to worry about compatibility there.</p>
<p>Each version you install remains on the system and can be accessed at any time. So if you&apos;re maintaining a library you created you can easily go back to any version of Node and test it out or create a patch.</p>
<p>NVM is basically just a few bash scripts that help you install, uninstall, and link different Node binaries. Since it is written as a bash script, it&apos;s only available for OSX and Linux. This means it isn&apos;t natively compatible with Windows, unfortunately. There are, however, a few alternatives created mimic the functionality of NVM: <a rel="nofollow" target="_blank" href="https://github.com/hakobera/nvmw">nvmw</a> and <a rel="nofollow" target="_blank" href="https://github.com/coreybutler/nvm-windows">nvm-windows</a>.</p>
<h3 id="installingnvm">Installing NVM</h3>
<p>The easiest way to install NVM is to run the following command from your terminal. But first, you&apos;ll need to install a few dependencies if you don&apos;t have them already.</p>
<p>Linux:</p>
<pre><code class="language-bash">$ sudo apt-get update
$ sudo apt-get install build-essential libssl-dev
</code></pre>
<p>On OSX the only dependency you need is the command line developer tools. Execute the following command, and then click &quot;Install&quot;.</p>
<p>OSX:</p>
<pre><code class="language-bash">$ xcode-select --install
</code></pre>
<p>Finally, you can install NVM with:</p>
<pre><code class="language-bash">$ curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.29.0/install.sh | bash
</code></pre>
<p>Or, by using the <code>wget</code> alternative:</p>
<pre><code class="language-bash">$ wget -qO- https://raw.githubusercontent.com/creationix/nvm/v0.29.0/install.sh | bash
</code></pre>
<p>These commands will download and run the installation script directly from the Github repository.</p>
<p>Essentially, this installation script will download the NVM repository in to the <code>~/.nvm</code> directory and add the <code>source</code> line to your shell profile (<code>~/.bash_profile</code>, <code>~/.zshrc</code>, or <code>~/.profile</code>).</p>
<p>I&apos;ve had problems on some systems in the past where the <code>source</code> line didn&apos;t get properly added to <code>.bash_profile</code>, so I had to activate NVM manually each time I opened a shell, so watch out for this problem. You many need to open <code>.bash_profile</code> and manually fix it yourself.</p>
<h3 id="howtousenvm">How to Use NVM</h3>
<p>To install a new version of Node using NVM, just run the <code>install</code> command:</p>
<pre><code class="language-bash">$ nvm install 5.1
</code></pre>
<p>This will download and install the latest v5.1.x release. To actually activate that version, you can do this:</p>
<pre><code class="language-bash">$ nvm use 5.1
</code></pre>
<p>Now all calls to <code>node</code> will be directed to the v5.1.x version.</p>
<p>Alternatively, if you just want to make a one-off call and not actually completely switch binaries, you can just use the <code>run</code> command:</p>
<pre><code class="language-bash">$ nvm run 5.1 index.js
</code></pre>
<p>This will run <code>index.js</code> as Node v5.1.x, but the <code>node</code> command will still be linked to whatever version it was before you ran <code>nvm run</code>.</p>
<p>Not sure which versions you&apos;ve already installed? Use the <code>ls</code> command to get a list of all those available to you:</p>
<pre><code class="language-bash">$ nvm ls
        v0.12.2
    iojs-v2.0.0
    iojs-v3.3.1
         v4.1.2
-&gt;       v5.1.0
         system
default -&gt; v4.1.2
node -&gt; stable (-&gt; v5.1.0) (default)
stable -&gt; 5.1 (-&gt; v5.1.0) (default)
iojs -&gt; iojs-v3.3 (-&gt; iojs-v3.3.1) (default)
</code></pre>
<p>And finally, once you know you&apos;re done with a version and don&apos;t need it anymore, uninstalling it is easy:</p>
<pre><code class="language-bash">$ nvm uninstall 5.1
</code></pre>
<p>For more information, check out the <a rel="nofollow" target="_blank" href="https://github.com/creationix/nvm">NVM readme</a>, which has a more complete list of commands.</p>
<!--kg-card-end: markdown--><!--kg-card-end: markdown-->
					