
						<!--kg-card-begin: markdown--><!--kg-card-begin: markdown--><p>If you read one of my earlier posts on <a href="https://stackabuse.com/how-to-install-node-js-on-ubuntu/">how to install Node.js</a>, you probably noticed there are quite a few ways to install it on your computer. This could be from a package manager, from the source code, or from a pre-compiled binary distribution. So, what do you do when you want to uninstall Node.js?</p>
<p>Here I&apos;ll be describing a few ways you can uninstall it from your Mac OSX computer. Just keep in mind that these commands will remove the Node <em>executable</em>, and not necessarily all of the Node projects or NPM cache.</p>
<h3 id="manually">Manually</h3>
<p>If you installed Node either by source or from a binary distribution then you&apos;ll likely have to delete the executable and other resources manually. Unfortunately, this isn&apos;t easy since there are quite a few directories containing Node resources, like <code>npm</code> and <code>node_modules</code>.</p>
<p>To completely uninstall the <code>node</code> executable as well as <code>npm</code>, here are some instructions on what to do:</p>
<p><em>Note that not all of the directories listed here may exist on your system depending on your install method.</em></p>
<ul>
<li>Delete <code>node</code> and/or <code>node_modules</code> from <code>/usr/local/lib</code></li>
<li>Delete <code>node</code> and/or <code>node_modules</code> from <code>/usr/local/include</code></li>
<li>Delete <code>node</code>, <code>node-debug</code>, and <code>node-gyp</code> from <code>/usr/local/bin</code></li>
<li>Delete <code>.npmrc</code> from your home directory (these are your npm settings, don&apos;t delete this if you plan on re-installing Node right away)</li>
<li>Delete <code>.npm</code> from your home directory</li>
<li>Delete <code>.node-gyp</code> from your home directory</li>
<li>Delete <code>.node_repl_history</code> from your home directory</li>
<li>Delete <code>node*</code> from <code>/usr/local/share/man/man1/</code></li>
<li>Delete <code>npm*</code> from <code>/usr/local/share/man/man1/</code></li>
<li>Delete <code>node.d</code> from <code>/usr/local/lib/dtrace/</code></li>
<li>Delete <code>node</code> from <code>/opt/local/bin/</code></li>
<li>Delete <code>node</code> from <code>/opt/local/include/</code></li>
<li>Delete <code>node_modules</code> from <code>/opt/local/lib/</code></li>
<li>Delete <code>node</code> from <code>/usr/local/share/doc/</code></li>
<li>Delete <code>node.stp</code> from <code>/usr/local/share/systemtap/tapset/</code></li>
</ul>
<p>This list should include just about all the references to Node on your system. Keep in mind there may be more. Please let me know if you find any others (and how you installed Node originally)!</p>
<h3 id="homebrew">Homebrew</h3>
<p>The Homebrew method is arguably one of the easiest ways to get Node on and off your system. The command to remove it is just as simple as the command to install it. Assuming you used <code>brew install node</code> to install it, just execute this to get rid of it:</p>
<pre><code class="language-sh">$ brew uninstall node
</code></pre>
<p>And that&apos;s it! All traces of the executable will be gone from your system.</p>
<h3 id="nvm">NVM</h3>
<p>The Node Version Manager (NVM) is almost as convenient as Homebrew, but in a different way. It allows you to install multiple versions of Node on your system so you can easily switch from one to the other.</p>
<p>Eventually, you&apos;ll probably want to get rid of one of the versions when you&apos;re done with it. And like Homebrew, you can easily do this using a command similar to the way you installed it:</p>
<pre><code class="language-sh">$ nvm uninstall &lt;version&gt;
</code></pre>
<p>And a complete example of this might be something like:</p>
<pre><code class="language-sh">$ nvm uninstall v0.12.2
</code></pre>
<p>And now <em>only version v0.12.2 of Node</em> will be uninstalled. Keep in mind that if you had multiple versions installed, then Node will still be on your system, but not v0.12.2 (using the example above).</p>
<h3 id="phantominstalls">Phantom Installs</h3>
<p>If for some reason none of the above methods worked for you, then you can always hunt down the executable using the command line tool <code>which</code>. This command shows you the location of the file for a given command.</p>
<p>We can use this to find where Node is installed on your system. You can try this with:</p>
<pre><code class="language-sh">$ which node
/Users/scott/.nvm/versions/node/v4.1.2/bin/node
</code></pre>
<p>You can see in the output that my <code>node</code> command is linked to an NVM version, although yours may be located somewhere else. Now I can use this info to uninstall it.</p>
<p>Using this tool should help you find out how the executable was installed or how to remove it manually.</p>
<!--kg-card-end: markdown--><!--kg-card-end: markdown-->
					