
						<!--kg-card-begin: markdown--><!--kg-card-begin: markdown--><p>When using <a rel="nofollow" target="_blank" href="https://en.wikipedia.org/wiki/Npm_%28software%29">NPM</a> to install a module for a project, you may encounter a frustrating error like this:</p>
<pre><code class="language-sh">$ npm install express --save
npm http GET https://registry.npmjs.org/express

npm ERR! Error: failed to fetch from registry: express
npm ERR!     at /opt/node0610/lib/node_modules/npm/lib/utils/npm-registry-client/get.js:139:12
npm ERR!     at cb (/opt/node0610/lib/node_modules/npm/lib/utils/npm-registry-client/request.js:32:9)
npm ERR!     at Request._callback (/opt/node0610/lib/node_modules/npm/lib/utils/npm-registry-client/request.js:137:18)
npm ERR!     at Request.callback (/opt/node0610/lib/node_modules/npm/node_modules/request/main.js:109:22)
npm ERR!     at Request.&lt;anonymous&gt; (/opt/node0610/lib/node_modules/npm/node_modules/request/main.js:198:58)
npm ERR!     at Request.emit (events.js:88:20)
npm ERR!     at ClientRequest.&lt;anonymous&gt; (/opt/node0610/lib/node_modules/npm/node_modules/request/main.js:195:10)
npm ERR!     at ClientRequest.emit (events.js:67:17)
npm ERR!     at CleartextStream.&lt;anonymous&gt; (http.js:1134:11)
npm ERR!     at CleartextStream.emit (events.js:67:17)
npm ERR! You may report this log at:
npm ERR!     &lt;http://github.com/isaacs/npm/issues&gt;
npm ERR! or email it to:
npm ERR!     &lt;<a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="640a14094924030b0b03080103160b1114174a070b09">[email&#xA0;protected]</a>&gt;
npm ERR! 
npm ERR! System Linux 2.6.18-194.el5
npm ERR! command &quot;node&quot; &quot;/opt/node0610/bin/npm&quot; &quot;install&quot; &quot;express&quot;
npm ERR! cwd /opt/node0610/lib/node_modules
npm ERR! node -v v0.6.10
npm ERR! npm -v 1.1.0-3
npm ERR! message failed to fetch from registry: express
npm ERR! 
npm ERR! Additional logging details can be found in:
npm ERR!     /opt/node0610/lib/node_modules/npm-debug.log
npm not ok
</code></pre>
<p>As I have found out in the past, there are quite a few reasons why you might get the &quot;failed to fetch from registry&quot; error, so here are a few ways to fix it.</p>
<h3 id="oldbuggynpmversion">Old/Buggy NPM Version</h3>
<p>As you might have noticed from the error message above, the npm version being used is pretty old. In this example we were using Node v0.6.10 and npm v1.1.0-3. This version is known to have some problems with Ubuntu 12.04, so your best bet is to update Node (and npm along with it) to the newest version:</p>
<pre><code class="language-sh">$ sudo npm update npm -g
</code></pre>
<p>If you want to re-install completely, you&apos;ll first want to completely remove the current Node/npm executables:</p>
<pre><code class="language-sh">$ sudo apt-get purge nodejs npm
</code></pre>
<p>Then re-install using a more updated version, like from Nodesource:</p>
<pre><code class="language-sh">$ curl -sL https://deb.nodesource.com/setup | sudo bash -
$ sudo apt-get install -y nodejs
</code></pre>
<p>Or, even better, you can check out <a href="https://stackabuse.com/how-to-install-node-js-on-ubuntu/">this article</a> for a more thorough guide to installing Node.js on Ubuntu.</p>
<h3 id="cantdownloadoverhttps">Can&apos;t Download Over HTTPS</h3>
<p>For one reason or another, some people can&apos;t connect to the registry via HTTPS. This can be fixed by setting the registry to use HTTP instead:</p>
<pre><code class="language-sh">$ npm config set registry http://registry.npmjs.org/
$ npm config set strict-ssl false
</code></pre>
<p>This isn&apos;t recommended, however, since your packages will then be downloaded insecurely. It would be best to find the actual root cause instead of using a work-around like this.</p>
<h3 id="corporateproxy">Corporate Proxy</h3>
<p>For many people, the root cause is actually because a proxy is being used on their network. If this is the case, you can use the following commands to set the HTTP and HTTPS proxies:</p>
<pre><code class="language-sh">$ npm config set proxy http://user:<a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="c4b4a5b7b7b3abb6a084b4b6abbcbdeaa1bca5a9b4a8a1eaa7aba9">[email&#xA0;protected]</a>:8181
$ npm config set https-proxy http://user:<a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="5828392b2b2f372a3c18282a372021763d20393528343d763b3735">[email&#xA0;protected]</a>:8181
</code></pre>
<p>This will save the new configurations and should allow you to access the internet with npm.</p>
<!--kg-card-end: markdown--><!--kg-card-end: markdown-->
					