
						<!--kg-card-begin: markdown--><!--kg-card-begin: markdown--><p>Web development has come a long way since the WWW boom in the late 90&apos;s. We as developers now have infinite resources and tools at our disposal. The sheer versatility we have is mind-blowing.</p>
<p>With the rise of Node.js and npm, JavaScript has become the de-facto most used programming language in the world. It&apos;s like every day a new framework pops up. Annoying as hell, I know. But, let&apos;s get on the hype train and check out how to build cool stuff with Node.js. If you haven&apos;t tried it yet, you&apos;ll love it, I&apos;m sure!</p>
<p>Today we&apos;ll create four different types of apps using <a rel="nofollow" target="_blank" href="https://expressjs.com/">Express.js</a>, the most popular Node.js framework.</p>
<p>Before we jump in there are a couple of things we need to go over regarding Node.js and Express, just to get our bearings straight.</p>
<h3 id="getyourfeetwet">Get your feet wet</h3>
<p>Node is an asynchronous event driven JavaScript runtime built on Chrome&#x2019;s V8 JavaScript engine. It&#x2019;s designed to build scalable network applications. JavaScript is single-threaded, so Node&apos;s strength lies in its asynchronous nature. It handles events without blocking the main thread of execution. This is why Node is blazingly fast, because it can handle connections concurrently.</p>
<p>The real reason Node.js blew up and became as popular as it is today is the package manager that comes along for the ride. NPM is the main meeting place for all Node packages, hence its name. Node Package Manager, duh? Here you can find various code modules to use in your applications, or publish your own if you so wish.</p>
<p>One of these modules is Express.js, a super popular, minimalist web framework for quickly building Node.js applications. Express is today the de-facto primary framework for use with Node.js. With much reason indeed. It only provides a thin layer of fundamental abstraction without changing the core features Node is famous for. It makes is easy to create both web apps, and REST APIs with little to no hassle. So easy in fact that many other frameworks are based on Express!</p>
<p>Now you&apos;re wondering what kind of apps can you even build with Express? Let&apos;s have a second to talk it through. What&apos;re the main types the web supports? There are applications with server rendered HTML pages, which will be familiar to some of you old school programmers. This was the default way of creating apps in the pre-JavaScript hype era.</p>
<p>Then we have REST APIs. They&apos;re typically used to send and receive JSON payloads, usually to and from a database or other service.</p>
<p>Lastly we have simple static websites. In this scenario Express is used to spin up a server and serve these files. It&apos;s a quick way of creating landing pages or marketing pages for companies and start-ups.</p>
<h3 id="jumpinginheadfirst">Jumping in head first</h3>
<p>Learning by doing is by far the best principle for learning anything new, especially in programming. Let&apos;s dive in and explain things along the way.</p>
<h4 id="serverrenderedapplications">Server Rendered Applications</h4>
<p>You can guess how these apps work from the title right? The HTML pages rendered in a user&apos;s browser are generated and rendered on the server. This process is called server rendering. Apps like these consist of templating engines and templates. The engines generate the final HTML page to be rendered. Some popular engines include Jade, Pug and EJS.</p>
<p>What&apos;s so special about these engines? They have a fancy thing called interpolation. It enables inserting variables into a template or string. Like this example with Jade: <code>Hello #{world}</code> where <code>world</code> is a variable.</p>
<p>Let&apos;s check it out in action.</p>
<p>Create a new directory and open up a terminal window. Init npm in the directory and install the following modules.</p>
<pre><code class="language-sh">$ npm init
$ npm install --save express jade
</code></pre>
<p>The structure of this project is very simple. An app.js file for all app configurations, a server.js file for spinning up an http server and a views folder where all our templates will be stored. First, create the app.js file and paste this snippet of code into it.</p>
<pre><code class="language-javascript">// copy this into your app.js
const express = require(&apos;express&apos;);
const path = require(&apos;path&apos;);
const app = express();

// view engine setup
app.set(&apos;views&apos;, path.join(__dirname, &apos;views&apos;));
app.set(&apos;view engine&apos;, &apos;jade&apos;);

app.get(&apos;/&apos;, function(req, res, next) {
    res.render(&apos;index&apos;, { title: &apos;Hello World!&apos; });
});

module.exports = app;
</code></pre>
<p>Okay, what&apos;s going on here? We&apos;re requiring <code>express</code> and instantiating the <code>app</code> object. The <code>path</code> module is a built-in Node module that provides a way of working with files and directories. We use it in this example to make sure our file paths work on all platforms.</p>
<p>Then we set the the view engine and the folder where our templates are located. The view engine we&apos;ll be using in this sample will be <a rel="nofollow" target="_blank" href="https://www.npmjs.com/package/jade">Jade</a>, but any view engine is fine here.</p>
<p>Now comes the fun part, see the <code>.get()</code> method on the app object? It takes 2 parameters. First a route, then a callback function. When the &apos;/&apos; route is hit, the callback will be invoked. This will trigger the rendering of the index template, with a interpolated variable named <code>title</code> with the value of &apos;Hello World!&apos;. Finally we export the app to have access to it in other files.</p>
<p>Awesome! With that out of the way, let&apos;s create the server.js file and add this snippet.</p>
<pre><code class="language-javascript">const app = require(&apos;./app&apos;);
const port = 3030;

app.listen(port, function() {
    console.log(&apos;Express server listening on port &apos; + port);
});
</code></pre>
<p>Here we require the app.js file and tell it to listen on port 3030.</p>
<p>There&apos;s only one more thing to do, create the &apos;views&apos; folder with some templates. Go ahead and add the &apos;views&apos; folder now, and drop in these two templates.</p>
<pre><code class="language-html">&lt;!-- layout.jade --&gt;
doctype html
html
  head
    title= title
  body
    block content

&lt;!-- index.jade --&gt;
extends layout

block content
  h1= title
  p Welcome to #{title}
</code></pre>
<p>As you can see the syntax for the jade templating engine is pretty freaky compared to regular HTML. But don&apos;t let it fool you. In the end, it will be rendered as regular HTML in the browser. See the funny looking <code>#{title}</code>? This is the interpolation I mentioned above. The <code>title</code> variable from the callback function was passed along to the view, getting rendered as the value which was provided.</p>
<p>Your final folder structure of the sample app should look something like this.</p>
<pre><code>&gt; node_modules
&gt; views
 - index.jade
 - layout.jade
- app.js
- package.json
- package-lock.json // this file will be present only if you have NPM version 5 or above.
- server.js 
</code></pre>
<p>Take a look at the <a rel="nofollow" target="_blank" href="https://github.com/adnanrahic/a-gentle-intro-to-express/tree/master/sample1-server-rendered">repo</a> to catch up if you missed some of the steps.</p>
<p>Phew, finally we can run the app to see what it looks like. Jump back to your terminal and run:</p>
<pre><code class="language-sh">$ node server.js
</code></pre>
<p>You should see &quot;Express server listening on port 3030&quot; get logged back to your terminal. In your browser, go to <a href="http://localhost:3030">http://localhost:3030</a> and you should see the text &quot;Hello World!&quot; and &quot;Welcome to Hello World!&quot; on the screen.</p>
<h4 id="restapis">REST APIs</h4>
<p>Ready to get your world turned upside down? Welcome to <a rel="nofollow" target="_blank" href="https://en.wikipedia.org/wiki/Representational_state_transfer">REST</a> APIs. The acronym stands for <strong>Re</strong>presentative <strong>S</strong>tate <strong>T</strong>ransfer. But you will never need to remember that. What&apos;s important though is to understand the logic behind how REST works and why it is the preferred type of data delivery.</p>
<p>The core lies in creating an <a rel="nofollow" target="_blank" href="https://en.wikipedia.org/wiki/Application_programming_interface">API</a>, an <strong>A</strong>pplication <strong>P</strong>rogram <strong>I</strong>nterface, to send and receive data in JSON format. REST APIs are used to interact with databases to store data in a persistent manner. Lucky for us, using REST with Express is easy.</p>
<p>Let&apos;s check it out in action.</p>
<p>For this example we only need two modules. Express and <a rel="nofollow" target="_blank" href="https://www.npmjs.com/package/body-parser">body-parser</a>. Create a new project directory and run:</p>
<pre><code class="language-sh">$ npm init &amp;&amp; npm install --save express body-parser
</code></pre>
<p>We only need two files to make the sample app work so go ahead and create an app.js and a server.js.</p>
<p>Copy these snippets into the files.</p>
<pre><code class="language-javascript">&apos;use strict&apos;;

//
// app.js
//

const express = require(&apos;express&apos;);
const app = express();
const bodyParser = require(&apos;body-parser&apos;);

app.use(bodyParser.json());
app.use(bodyParser.urlencoded({ extended: false }));

app.get(&apos;/&apos;, function(req, res) {
    let data = {
        message: &apos;Hello World!&apos;
    };
    res.status(200).send(data);
});

app.post(&apos;/&apos;, function(req, res) {
    let data = {
        response: &apos;You sent: &apos; + req.body.message
    };

    // Do something, like query a database or save data

    res.status(200).send(data);
});

module.exports = app;
</code></pre>
<pre><code class="language-javascript">&apos;use strict&apos;;

//
// server.js
//

const app = require(&apos;./app&apos;);
const port = 4040;

app.listen(port, function() {
    console.log(&apos;Express server listening on port &apos; + port);
});
</code></pre>
<p>The layout of the app.js is very similar to the server-rendered example. The only real difference is that we send back a JSON object as the response of the <code>get()</code> method. Let&apos;s break it down.</p>
<p>At the top we again require <code>express</code>, and create an <code>app</code> object. But, we also require <code>body-parser</code>. This is an awesome <a href="/how-to-write-express-js-middleware/">Express middleware</a> module for parsing the body of an incoming HTTP request. It adds an object to Express&apos; <code>req</code> object inside the <code>app</code> methods. So when we post some data to the &apos;/&apos; route we have access to that data in the <code>req.body</code> object. Awesome!</p>
<p>To test this out fire up a tool like Postman or any other REST client testing tool you like. If you&apos;ve never heard of this before, don&apos;t panic, <a rel="nofollow" target="_blank" href="https://www.getpostman.com/">you can check it out here.</a>.</p>
<p>Fire up the server.js and open up Postman.</p>
<pre><code class="language-sh">$ node server.js
</code></pre>
<p>In Postman (or any other REST client tool) start off by sending a GET request to <a href="http://localhost:4040/:">http://localhost:4040/:</a></p>
<script data-pagespeed-no-defer>//<![CDATA[
(function(){for(var g="function"==typeof Object.defineProperties?Object.defineProperty:function(b,c,a){if(a.get||a.set)throw new TypeError("ES3 does not support getters and setters.");b!=Array.prototype&&b!=Object.prototype&&(b[c]=a.value)},h="undefined"!=typeof window&&window===this?this:"undefined"!=typeof global&&null!=global?global:this,k=["String","prototype","repeat"],l=0;l<k.length-1;l++){var m=k[l];m in h||(h[m]={});h=h[m]}var n=k[k.length-1],p=h[n],q=p?p:function(b){var c;if(null==this)throw new TypeError("The 'this' value for String.prototype.repeat must not be null or undefined");c=this+"";if(0>b||1342177279<b)throw new RangeError("Invalid count value");b|=0;for(var a="";b;)if(b&1&&(a+=c),b>>>=1)c+=c;return a};q!=p&&null!=q&&g(h,n,{configurable:!0,writable:!0,value:q});var t=this;function u(b,c){var a=b.split("."),d=t;a[0]in d||!d.execScript||d.execScript("var "+a[0]);for(var e;a.length&&(e=a.shift());)a.length||void 0===c?d[e]?d=d[e]:d=d[e]={}:d[e]=c};function v(b){var c=b.length;if(0<c){for(var a=Array(c),d=0;d<c;d++)a[d]=b[d];return a}return[]};function w(b){var c=window;if(c.addEventListener)c.addEventListener("load",b,!1);else if(c.attachEvent)c.attachEvent("onload",b);else{var a=c.onload;c.onload=function(){b.call(this);a&&a.call(this)}}};var x;function y(b,c,a,d,e){this.h=b;this.j=c;this.l=a;this.f=e;this.g={height:window.innerHeight||document.documentElement.clientHeight||document.body.clientHeight,width:window.innerWidth||document.documentElement.clientWidth||document.body.clientWidth};this.i=d;this.b={};this.a=[];this.c={}}function z(b,c){var a,d,e=c.getAttribute("data-pagespeed-url-hash");if(a=e&&!(e in b.c))if(0>=c.offsetWidth&&0>=c.offsetHeight)a=!1;else{d=c.getBoundingClientRect();var f=document.body;a=d.top+("pageYOffset"in window?window.pageYOffset:(document.documentElement||f.parentNode||f).scrollTop);d=d.left+("pageXOffset"in window?window.pageXOffset:(document.documentElement||f.parentNode||f).scrollLeft);f=a.toString()+","+d;b.b.hasOwnProperty(f)?a=!1:(b.b[f]=!0,a=a<=b.g.height&&d<=b.g.width)}a&&(b.a.push(e),b.c[e]=!0)}y.prototype.checkImageForCriticality=function(b){b.getBoundingClientRect&&z(this,b)};u("pagespeed.CriticalImages.checkImageForCriticality",function(b){x.checkImageForCriticality(b)});u("pagespeed.CriticalImages.checkCriticalImages",function(){A(x)});function A(b){b.b={};for(var c=["IMG","INPUT"],a=[],d=0;d<c.length;++d)a=a.concat(v(document.getElementsByTagName(c[d])));if(a.length&&a[0].getBoundingClientRect){for(d=0;c=a[d];++d)z(b,c);a="oh="+b.l;b.f&&(a+="&n="+b.f);if(c=!!b.a.length)for(a+="&ci="+encodeURIComponent(b.a[0]),d=1;d<b.a.length;++d){var e=","+encodeURIComponent(b.a[d]);131072>=a.length+e.length&&(a+=e)}b.i&&(e="&rd="+encodeURIComponent(JSON.stringify(B())),131072>=a.length+e.length&&(a+=e),c=!0);C=a;if(c){d=b.h;b=b.j;var f;if(window.XMLHttpRequest)f=new XMLHttpRequest;else if(window.ActiveXObject)try{f=new ActiveXObject("Msxml2.XMLHTTP")}catch(r){try{f=new ActiveXObject("Microsoft.XMLHTTP")}catch(D){}}f&&(f.open("POST",d+(-1==d.indexOf("?")?"?":"&")+"url="+encodeURIComponent(b)),f.setRequestHeader("Content-Type","application/x-www-form-urlencoded"),f.send(a))}}}function B(){var b={},c;c=document.getElementsByTagName("IMG");if(!c.length)return{};var a=c[0];if(!("naturalWidth"in a&&"naturalHeight"in a))return{};for(var d=0;a=c[d];++d){var e=a.getAttribute("data-pagespeed-url-hash");e&&(!(e in b)&&0<a.width&&0<a.height&&0<a.naturalWidth&&0<a.naturalHeight||e in b&&a.width>=b[e].o&&a.height>=b[e].m)&&(b[e]={rw:a.width,rh:a.height,ow:a.naturalWidth,oh:a.naturalHeight})}return b}var C="";u("pagespeed.CriticalImages.getBeaconData",function(){return C});u("pagespeed.CriticalImages.Run",function(b,c,a,d,e,f){var r=new y(b,c,a,e,f);x=r;d&&w(function(){window.setTimeout(function(){A(r)},0)})});})();pagespeed.CriticalImages.Run('/mod_pagespeed_beacon','https://stackabuse.com/node-js-express-examples-rendered-rest-and-static-websites/','8Xxa2XQLv9',true,false,'MfGvhKM715M');
//]]></script><img src="https://s3.amazonaws.com/stackabuse/media/node-js-express-examples-1.png" class="img-responsive" alt="Postman GET request" data-pagespeed-url-hash="2948107008" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
<p>Now send a POST request to the same url:</p>
<img src="https://s3.amazonaws.com/stackabuse/media/node-js-express-examples-2.png" class="img-responsive" alt="Postman POST request" data-pagespeed-url-hash="3242606929" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
<p>Enter a &quot;message&quot; as JSON data into the body of the request (use &quot;x-www-form-urlencoded&quot; in this case) and hit &quot;Send&quot;. The message you send to the endpoint should get sent back to you like this:</p>
<pre><code class="language-javascript">{
    &quot;response&quot;: &quot;You sent: Hello World!&quot;
}
</code></pre>
<p>Switch back to the code and let&apos;s explain what&apos;s going on. In the POST route, we take the value from <code>req.body.message</code> and assign it to the <code>data</code> variable with our own short message. Then we send the data back in the response with a status of 200.</p>
<p>Requests like these which are used solely as means of transferring data to and from a server are used to store data in persistent storage such as databases. This is what REST APIs are awesome at. In today&apos;s world they thrive because they work in unison with both mobile and web applications as their data storage.</p>
<p>If you missed any steps, you can check out the code <a rel="nofollow" target="_blank" href="https://github.com/adnanrahic/a-gentle-intro-to-express/tree/master/sample2-rest-api">here</a>.</p>
<h4 id="staticwebsites">Static Websites</h4>
<p>What if we don&apos;t need any cool template rendering, nor interaction with a database? What if we just want a cool landing page, an awesome proof of concept page, or a <a href="/node-http-servers-for-static-file-serving/">static file server</a>?</p>
<p>Let&apos;s ignore all the complicated use cases we mentioned above and focus on the foundations the World Wide Web is based upon. Serving HTML documents.</p>
<p>Express can be turned into a simple HTTP web server for serving static HTML pages. The process is dead simple. What&apos;s needed is to specify a location which will be viewed as a static directory.</p>
<p>Let&apos;s dive in.</p>
<p>Create a new directory, create the same two files as the examples above, an app.js and a server.js. You&apos;ll only need to install express for this example.</p>
<pre><code class="language-sh">$ npm init &amp;&amp; install express --save
</code></pre>
<pre><code class="language-javascript">// app.js
const express = require(&apos;express&apos;);
const app = express();

app.use(&apos;/&apos;, express.static(&apos;html&apos;));

module.exports = app;
</code></pre>
<p>The app is set to <code>.use()</code> the html folder to serve static files. Meaning the route to the resource in the url will not look for routes in the Express app, instead search the file system for the requested file.</p>
<p>You can simply reuse the server.js from the examples above.</p>
<pre><code class="language-javascript">// server.js
const app = require(&apos;./app&apos;);
const port = 5050;

app.listen(port, function() {
    console.log(&apos;Express server listening on port &apos; + port);
});
</code></pre>
<p>Create a folder called &apos;html&apos; and add two files named &apos;index.html&apos; and &apos;about.html&apos;. The content of the files does not matter, I&apos;ve just added some text to know which one is which.</p>
<pre><code class="language-html">&lt;!-- index.html --&gt;
&lt;h1&gt;index&lt;/h1&gt;

&lt;!-- about.html --&gt;
&lt;h1&gt;about&lt;/h1&gt;
</code></pre>
<p>That&apos;s all. Go ahead, spin up the server and open up a browser and head to <a href="http://localhost:5050">http://localhost:5050</a>, which should show a page with the word &quot;index&quot; on it.</p>
<p>You can see by requesting the &apos;/&apos; route the index.html has been loaded by default. You can switch to &apos;/about.html&apos; and the &apos;about&apos; HTML file will be loaded. This principle works with any type of file. You can add an image to this folder as well, and it will be displayed the same way if you navigated to it though the URL.</p>
<p>If you missed any steps, take a break and check out the code <a rel="nofollow" target="_blank" href="https://github.com/adnanrahic/a-gentle-intro-to-express/tree/master/sample3-static">here</a>.</p>
<h4 id="hybridapps">Hybrid apps</h4>
<p>No we&apos;re not going to go talk about the Toyota Prius. This is another type of hybrid. Let&apos;s say, you want the versatility, power, and ease of use of a REST API, but also the speed of a Single Page Application (SPA).</p>
<p><em>Quick info: SPAs are front end JavaScript applications which only have a single main index.html file. All other html files are templates that get injected into the main file when needed. Because the logic and routing are handled on the front end they are incredibly fast. But in the end, they behave just as a simple static web page when it comes to serving them.</em></p>
<p>If this is the case, you may think about this scenario. Why not run a REST API, with a statically served SPA on the same server. Sounds good to me.</p>
<p>Fire up a terminal, create a new directory and type:</p>
<pre><code class="language-sh">$ npm init &amp;&amp; npm install --save express body-parser
</code></pre>
<p>Let&apos;s get introduced to the folder structure.</p>
<pre><code>&gt; app       // folder that will hold all of our files for the SPA
&gt; node_modules
- app.js
- package-lock.json
- package.json
- server.js
</code></pre>
<p>The structure is the same as in the static file serving example, with the difference in the name of the folder where we&apos;ll be keeping our static files.</p>
<p>Here&apos;s some code:</p>
<pre><code class="language-javascript">// app.js
const express = require(&apos;express&apos;);
const app = express();
const path = require(&apos;path&apos;);
const bodyParser = require(&apos;body-parser&apos;);

app.use(bodyParser.json());
app.use(bodyParser.urlencoded({ extended: false }));

/**
 * API
 */
app.get(&apos;/api&apos;, function(req, res, next) {
    let data = {
        message: &apos;Hello World!&apos;
    };
    res.status(200).send(data);
});
app.post(&apos;/api&apos;, function(req, res, next) {
    let data = req.body;
    // query a database and save data
    res.status(200).send(data);
});

/**
 * STATIC FILES
 */
app.use(&apos;/&apos;, express.static(&apos;app&apos;));

// Default every route except the above to serve the index.html
app.get(&apos;*&apos;, function(req, res) {
    res.sendFile(path.join(__dirname + &apos;/app/index.html&apos;));
});

module.exports = app;
</code></pre>
<p>This structure seems familiar now doesn&apos;t it. We&apos;ve combined the REST API with the serving static files. The only exception being the last <code>.get()</code> on the bottom. The <code>*</code> matches every route except for the ones above will be defaulted to send the index.html back to the client. Meaning every route will serve the main index.html. Exactly what we want!</p>
<p>Now when we want to retrieve some data from the API we can simply hit the &apos;/api&apos; route and get JSON data back. Otherwise the app will always serve the main HTML file located in the app folder.</p>
<p>If you&apos;d like to go into more detail, then you can check out the full example using Angular.js over <a rel="nofollow" target="_blank" href="https://github.com/adnanrahic/a-gentle-intro-to-express/tree/master/sample4-hybrid">here</a>.</p>
<h3 id="whentousewhat">When to use what?</h3>
<p>No application type is the best in every scenario. They all have their place in the programming world. It all depends on your use case and what you want to build.</p>
<p>If you want a robust back end without worrying too much about the front end would truly love server rendered applications. They have great templating engines that simplify the way you write HTML, making it very easy to create intricate templates. They also provide great support for storing and retrieving data.</p>
<p>REST APIs are the applications of choice when you have multiple front ends to manage. The data you receive can be requested from both mobile and web applications. Isn&apos;t it awesome that you can build one back end that can be consumed by all the client side apps you want? I sure think it is!</p>
<p>Serving static files is used in various cases. Serving HTML files, images, CSS stylesheets and JavaScript scripts. All are viewed as static files and they can all be served with Express. This is most used for creating landing pages and other front end applications such as Single Page Apps. Feel free to use this technique for all of your apps. It will always be useful to know how to serve static files such as images and CSS!</p>
<p>What&apos;s there to say about hybrid apps? Well, first of all. Please, if you have access to two web servers, keep the applications separate. Create the REST API on one, and the SPA on the other. But if you don&apos;t have that luxury, it&apos;s fine to keep it on one. Otherwise, this app combo is the best regarding performance.</p>
<h3 id="gostartbuildingstuff">Go start building stuff!</h3>
<p>All of these techniques are valid and perfectly fine to use. Just pick one and start building! You&apos;ll learn the most by doing it yourself.</p>
<p>Hope you guys and girls enjoyed reading this as much as I enjoyed writing it. Until next time, be curious and have fun.</p>
<p><em>Do you think this tutorial will be of help to someone? Do not hesitate to share. If you liked it, let me know in the comments below.</em></p>
<!--kg-card-end: markdown--><!--kg-card-end: markdown-->
					