
						<!--kg-card-begin: markdown--><!--kg-card-begin: markdown--><p>If you know about JavaScript then you know about NPM; it&#x2019;s the default package manager for Node.js which is an open source runtime environment. Developers use <a rel="nofollow" target="_blank" href="https://docs.npmjs.com/">NPM</a> because not only does it provide an easy way to maintain the code but it also helps them when they have to share it with other developers who can easily reuse the code during their own development.</p>
<p>An NPM file or an NPM package is nothing but logically separated reusable code that&apos;s organized as a directory with some files in it. One of the files you&apos;ll always find is the &quot;package.json&quot; file, which contains metadata about the package among other things. NPM installation can often lead to strange issues if not done properly. In this article I will be talking about the &quot;NPM throwing errors without sudo&quot; issue that developers sometimes face. If you encounter the error, it might look something like this:</p>
<pre><code class="language-bash">npm ERR! Error: EACCES, open &apos;/Users/scott/.npm/-/all/.cache.json&apos;
npm ERR!  { [Error: EACCES, open &apos;/Users/scott/.npm/-/all/.cache.json&apos;]
npm ERR!   errno: 3,
npm ERR!   code: &apos;EACCES&apos;,
npm ERR!   path: &apos;/Users/scott/.npm/-/all/.cache.json&apos; }
npm ERR! 
npm ERR! Please try running this command again as root/Administrator.

npm ERR! System Darwin 15.5.0
npm ERR! command &quot;node&quot; &quot;/usr/local/bin/npm&quot; &quot;search&quot; &quot;babel&quot;
npm ERR! cwd /Users/scott
npm ERR! node -v v0.10.4
npm ERR! npm -v 1.2.18
npm ERR! path /Users/scott/.npm/-/all/.cache.json
npm ERR! code EACCES
npm ERR! errno 3
npm ERR! stack Error: EACCES, open &apos;/Users/scott/.npm/-/all/.cache.json&apos;
npm ERR! 
npm ERR! Additional logging details can be found in:
npm ERR!     /Users/scott/npm-debug.log
npm ERR! not ok code 0
</code></pre>
<p>So basically, whenever you try to install or search something via NPM, you get a long list of unhelpful errors and the command you&apos;re trying to run fails. When you try it with &quot;sudo&quot; however, you get the desired output. This will happen even if you are logged in as an administrator. This problem normally occurs when there is some issue with the permissions and privileges pertaining to your NPM installation.</p>
<p>Did you install NPM using root privileges? That can be one of the reasons to cause you to need root privileges every time you run a command. Or this could also be caused by permission issues within your home directory in which case you will have to take back the ownership, which is one of the solutions I&apos;ve listed below.</p>
<h3 id="solution1installvianvm">Solution 1: Install via NVM</h3>
<p>&quot;Everything is safe with root permissions&quot; is not a clich&#xE9; and for good reason. When you install and run node on a development machine with root privileges, it won&#x2019;t bite you until you try to install other packages with it and face the under-discussion issue.</p>
<p>The <a href="/using-nvm-to-install-node/">Node Version Manager</a>, or NVM, is a tool that allows developers to install as many versions of Node you need and without requiring root privileges too. I recommend using it and performing a reinstall after uninstalling the current NPM installation. If this is the route you want to take, then follow these steps:</p>
<ol>
<li>
<p>Fire up a terminal and enter the following command to remove all the global Node modules:</p>
<pre><code> $ npm ls -gp --depth=0 | awk -F/ &apos;/node_modules/ &amp;&amp; !/\/npm$/ {print $NF}&apos; | xargs npm -g rm
</code></pre>
</li>
<li>
<p>Go to the <a rel="nofollow" target="_blank" href="https://github.com/creationix/nvm">official NVM git repo</a> and follow the instructions there to install NVM. To ensure that NVM has been installed successfully, enter the command below and see if the output&apos;s a version number:</p>
<pre><code> $ nvm --version
 0.28.0
</code></pre>
<p>If &quot;nvm&quot; was output to the console, as shown above, then it is has been installed.</p>
</li>
<li>
<p>Once you have ensured that NVM has gotten installed on your device, run this command to install node:</p>
<pre><code> $ nvm install stable
</code></pre>
</li>
</ol>
<p>Once you are done, try running <code>npm link</code> or perform an NPM global install and you will see that you no longer require root privileges for it to work.</p>
<h3 id="solution2takingownership">Solution 2: Taking Ownership</h3>
<p>As I mentioned earlier, much of the time this problem is caused by issues in your home directory permissions. If you are doubtful that this is not the case for you then don&#x2019;t worry, you can try it anyway because even if it isn&#x2019;t the cause, it won&#x2019;t do you any harm.</p>
<p>Once you are set, fire up the terminal and enter the following command:</p>
<pre><code class="language-bash">$ sudo chown -R $(whoami) ~/.npm
</code></pre>
<p>The <code>$(whoami)</code> part will take your user name and place it there within the command, making you the owner of all files/folders in <code>~/.npm</code>.</p>
<p>When asked to provide your password, please go ahead. Once you are done, try to install or search via NPM again and see if the problem persists; it shouldn&#x2019;t.</p>
<h3 id="solution3uninstallallnpmmodulesandreinstallgloballywithrootprivileges">Solution 3: Uninstall all NPM modules and reinstall globally with root privileges</h3>
<p>If you are a Linux or an OSX user, you can also create a dedicated directory to hold your global package. You can then setup NPM and node to find the globally installed packages on their own. To do a global install for a specific user (without root privileges) follow these steps:</p>
<ol>
<li>
<p>As a first step, make a directory for the global packages:</p>
<pre><code> $ mkdir &quot;${HOME}/.npm-packages&quot;
</code></pre>
</li>
<li>
<p>Go to the &quot;~/.npmrc&quot; file and add this at the end:</p>
<pre><code> prefix=${HOME}/.npm-packages
</code></pre>
</li>
<li>
<p>Go to your &quot;.bashrc&quot; or &quot;.zshrc&quot; files and add:</p>
<pre><code> NPM_PACKAGES=&quot;${HOME}/.npm-packages&quot;
 PATH=&quot;$NPM_PACKAGES/bin:$PATH&quot;

 # Unset manpath so we can inherit from /etc/manpath via the `manpath` command
 unset MANPATH # delete if you already modified MANPATH elsewhere in your config

 export MANPATH=&quot;$NPM_PACKAGES/share/man:$(manpath)&quot;
</code></pre>
</li>
</ol>
<p>This will ensure that NPM finds the man pages and the installed binaries easily.</p>
<blockquote>
<p>Note: For Mac users, the &quot;.bashrc&quot; file often doesn&#x2019;t exist and the terminal obtains its parameters from other files like the &quot;.profile&quot; or the &quot;bash_profile&quot; files. In such a scenario, add the following line to the end of any of the aforementioned files to ensure that the terminal also includes the &quot;.bashrc&quot; file:</p>
<pre><code>$ source ~/.bashrc
</code></pre>
</blockquote>
<p>If you don&#x2019;t want to manually perform the above steps, then you can check out the nice shell script <a rel="nofollow" target="_blank" href="https://github.com/glenpike/npm-g_nosudo">npm-g_nosudo</a>, which performs all these steps automatically for you.</p>
<h3 id="conclusion">Conclusion</h3>
<p>I am sure that after trying one of the solutions above, you should no longer have a problem with this error. If you have a choice, then I&apos;d highly recommend using NVM to install different versions of Node/NPM. Not only will it solve your problem with using NPM with sudo, but it also lets you easily install and switch between multiple versions of Node/NPM while you&apos;re developing. It&apos;s been a lifesaver for me, to say the least.</p>
<p><em>Let us know in the comments how things worked out for you!</em></p>
<!--kg-card-end: markdown--><!--kg-card-end: markdown-->
					