
						<!--kg-card-begin: markdown--><!--kg-card-begin: markdown--><p>Once upon a time, not so long ago, a word caught my ear. <strong>Lambda</strong>. That struck a chord, remembering the good old days of playing Half-Life as a kid. Little did I know what AWS Lambda was, and how incredibly awesome it is. If you&apos;re intrigued, stick around. I&apos;ll only take a few minutes out of your already busy day, and you surely won&apos;t mind.</p>
<h3 id="functionasaservice">Function as a Service</h3>
<p>Let&apos;s jump right in. The architecture AWS Lambda belongs to is called either <a rel="nofollow" target="_blank" href="https://en.wikipedia.org/wiki/Serverless_computing">Serverless Computing</a> or <a rel="nofollow" target="_blank" href="https://en.wikipedia.org/wiki/Function_as_a_service">Function as a Service</a>. It&apos;s groundbreaking because of the lack of servers. That sounds strange. Well the code is not running on potatoes, is it!? Okay, that&apos;s just a saying. What&apos;s actually going on is that you, the developer, don&apos;t need to worry about the infrastructure your code is running on. You deploy the code into the cloud and it handles the creation of all needed resources by itself. But how? Containers!</p>
<img src="https://images.pexels.com/photos/163726/belgium-antwerp-shipping-container-163726.jpeg?w=1260&amp;h=750&amp;auto=compress&amp;cs=tinysrgb" class="img-responsive">
<p>No, not those. These!</p>
<blockquote><a rel="nofollow" target="_blank" href="https://www.docker.com/what-docker"><img src="https://raw.githubusercontent.com/adnanrahic/cdn/master/getting-started-with-aws-lambda-and-nodejs/docker.png" width="250px" style="float:left;margin-right: 20px;"></a><h2 style="margin-top: 0px;font-style: normal;">Docker</h2>Docker is the world&#x2019;s leading software container platform. Developers use Docker to eliminate &#x201C;works on my machine&#x201D; problems when collaborating on code with co-workers. Operators use Docker to run and manage apps side-by-side in isolated containers to get better compute density. Enterprises use Docker to build agile software delivery pipelines to ship new features faster, more securely and with confidence for both Linux, Windows Server, and Linux-on-mainframe apps.</blockquote>
<p>Every time an AWS Lambda function is created, a container is spun up to serve it. The code is deployed into the container and then executed. Hence making every subsequent request faster because AWS is skipping the initial creation of the container if it already exists.</p>
<h3 id="creatingyourfirstfunction">Creating your First Function</h3>
<p>Before you can even see the code you need to create a new function in the AWS console. Which means you need an AWS account. If you don&apos;t have an account, don&apos;t hesitate to create one, they have incredible free tiers that include various services and last up to 12 months.</p>
<p>Moving on, fire up a browser and navigate to your account. From there you need to find Lambda. Press the services dropdown and select Lambda.</p>
<p><img src="https://raw.githubusercontent.com/adnanrahic/cdn/master/getting-started-with-aws-lambda-and-nodejs/Selection_056.png" alt="AWS Services"></p>
<p>You&apos;ll land on the Lambda homepage with a big orange button prompting you to create a new function. Well, don&apos;t keep it waiting any longer, press it.</p>
<p><img src="https://raw.githubusercontent.com/adnanrahic/cdn/master/getting-started-with-aws-lambda-and-nodejs/Selection_057.png" alt="Create a Function"></p>
<p>This will take you to the function blueprint picker. As this example will cover a basic function that will simulate a dice throw, let&apos;s forget about the blueprints and just author one from scratch.</p>
<p><img src="https://raw.githubusercontent.com/adnanrahic/cdn/master/getting-started-with-aws-lambda-and-nodejs/Selection_058.png" alt="Author from Scratch"></p>
<p>Awesome! Now you just need to add a name and <a rel="nofollow" target="_blank" href="https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles.html">role</a> for the function and finally start writing some code. Regarding the role, feel free to just pick an existing role such as <code>lambda_basic_execution</code>. It will more than suffice for this simple example. Finally, go ahead and create the function.</p>
<p><img src="https://raw.githubusercontent.com/adnanrahic/cdn/master/getting-started-with-aws-lambda-and-nodejs/Selection_059.png" alt="Function Basic Info"></p>
<p>Great! Now you&apos;re finally seeing some code. Much better. Let&apos;s dive in. There are several options to take into consideration. The code entry type option sets how you will add code to the function. It can either be <em>inline</em>, <em>upload a .zip file</em>, or <em>upload from S3</em>. We&apos;ll be using the first option, editing inline. For small functions, it&apos;s totally fine to write code inline. But when you have more code, it gets very tiresome. That&apos;s why there is a .zip upload option which we will touch upon later as well.</p>
<p>Leave the runtime as Node.js 6.10, which is the latest supported version of Node.js for Lambda at the time of this writing. The handler can stay the same as well. &quot;index&quot; stands for the name of the file, while <code>handler</code> is the name of the function.</p>
<p><img src="https://raw.githubusercontent.com/adnanrahic/cdn/master/getting-started-with-aws-lambda-and-nodejs/Selection_060.png" alt="Function Inline Editor"></p>
<p>Check out the parameters the function takes. A bit strange, are they not? Let&apos;s break it down.</p>
<ul>
<li>The <code>event</code> parameter contains the current event info. That means the event that triggers the function will send along information to the function to use. An example would be the data an HTTP request sends along to the endpoint, such as whether it has request parameters or a body.</li>
<li>The <code>context</code> contains all the information about the function itself. How long it has been running, how much memory it&apos;s consuming among other things. This is viewed as the runtime information.</li>
<li>The <code>callback</code> is pretty self-explanatory. When you want to tell the function to end its execution, you invoke the callback. It takes two parameters, the first is an error, the second is the data you wish to send back as the response of the Lambda function.</li>
</ul>
<h3 id="writingsomelogic">Writing Some Logic</h3>
<p>That&apos;s enough with the setting up for now. Let&apos;s code something.</p>
<p>We&apos;re starting out with this snippet of code. The goal is to write a piece of code that will mimic the roll of a dice.</p>
<pre><code class="language-js">exports.handler = (event, context, callback) =&gt; {
  // TODO implement
  callback(null, &apos;Hello from Lambda&apos;);
};
</code></pre>
<p>Here goes nothing.</p>
<pre><code class="language-js">exports.handler = (event, context, callback) =&gt; {
    var min = 1;
    var max = 6;    
    var randomNumber = Math.floor(Math.random() * (max - min + 1)) + min;
    var message = &apos;Your dice throw resulted in: &apos; + randomNumber;
    callback(null, message);    
};
</code></pre>
<p>Nice! That does the trick. Now the function will return a random number between 1 and 6. With that out of the way let&apos;s test it. Press the orange test button and proceed to create a &quot;Hello World&quot; test event. Give it a funky name for no particular reason. Just for the fun of having a test event named <code>FunkyName</code>. Now you can go ahead and test the function. After pressing the test button you&apos;ll see something like this.</p>
<p><img src="https://raw.githubusercontent.com/adnanrahic/cdn/master/getting-started-with-aws-lambda-and-nodejs/Selection_067.png" alt="Function Testing"></p>
<p>The section bordered with the dashed outline shows the function output, more precisely the value that got sent back by the callback function.</p>
<p>That was fun! You now have a <strong>roll a dice</strong> function, but no way of triggering it outside of AWS, yet.</p>
<h3 id="connectinganapi">Connecting an API</h3>
<p>Here comes the crucial part. How do you think the Lambda functions know how to start its execution? Voodoo? Magic? No, sadly not. Every function invocation is triggered by an event. It can be an when an image gets uploaded to S3, it can be an Amazon Alexa skill, or just a regular HTTP request.</p>
<p>Let&apos;s create an HTTP event and tell it to invoke our function. To be able to do this you first need to jump over to <a rel="nofollow" target="_blank" href="https://docs.aws.amazon.com/apigateway/latest/developerguide/welcome.html">API Gateway</a> on the AWS console. In the services dropdown pick API Gateway, and you&apos;ll land here.</p>
<p><img src="https://raw.githubusercontent.com/adnanrahic/cdn/master/getting-started-with-aws-lambda-and-nodejs/Selection_062.png" alt="Get Started API Gateway"></p>
<p>You&apos;ll immediately be prompted to create an API. Ignore all the suggestions and just pick <strong>New API</strong> and input a name for your API. I&apos;m going to stick with <strong>FunkyApi</strong>, it just sounds right. Go ahead and hit create.</p>
<p><img src="https://raw.githubusercontent.com/adnanrahic/cdn/master/getting-started-with-aws-lambda-and-nodejs/Selection_063.png" alt="Create API"></p>
<p>Now comes the fun part. Finally get to hook up the API to the function. First press the <strong>Actions</strong> dropdown and pick <strong>Create method</strong>. You&apos;ll see another smaller dropdown show up. Press it, and pick <strong>GET</strong>. Set the integration type to Lambda Function, select the region where you created the function and write the name of your function.</p>
<p><img src="https://raw.githubusercontent.com/adnanrahic/cdn/master/getting-started-with-aws-lambda-and-nodejs/Selection_064.png" alt="Create Method and Hook Lambda"></p>
<p>Hit save and rejoice!</p>
<p>The API is set up and ready. You now only need to deploy it. Press the <strong>Actions</strong> dropdown once again and and hit <strong>Deploy API</strong>. Pick a new Deployment Stage, write down <strong>dev</strong> as the stage name and you&apos;re ready to deploy the API.</p>
<p><img src="https://raw.githubusercontent.com/adnanrahic/cdn/master/getting-started-with-aws-lambda-and-nodejs/Selection_065.png" alt="Deploy API"></p>
<p>Finally! The API endpoint is ready. You now have access to the <strong>Invoke URL</strong> on the <strong>dev Stage Editor</strong>.</p>
<p><img src="https://raw.githubusercontent.com/adnanrahic/cdn/master/getting-started-with-aws-lambda-and-nodejs/Selection_066.png" alt="API has been Deployed"></p>
<p>Feel free to open up the API endpoint in a browser window and check the output. What do you see? No really, what do you see? A random number between 1 and 6 should be returned back. How awesome is this!? In less than 5 minutes you&apos;ve created a Lambda function, connected it to API Gateway and created an endpoint to be consumed whenever you like.</p>
<h3 id="uploadingcodewithazip">Uploading Code with a ZIP</h3>
<p>What if you need to use some modules from npm? You can&apos;t add them inline. There has to be a way of running code with dependencies. Well, there is, but it&apos;s a bit tricky to get right. Nevertheless, let&apos;s get on with it!</p>
<p>First of all, create a directory and initialize npm.</p>
<pre><code class="language-bash">$ mkdir roll-a-dice &amp;&amp; npm init
</code></pre>
<p>Once you&apos;ve done this, go ahead and install <a href="/moment-js-a-better-date-library-for-javascript/">moment</a>, a simple datetime library.</p>
<pre><code class="language-bash">$ npm install moment --save
</code></pre>
<p>This will create a node_modules folder with the required dependencies. To include them you need to compress all the files and upload the .ZIP file to Lambda.</p>
<p><strong>Important Note</strong>: Only compress the files and folders inside of the project directory. Do <strong>NOT</strong> zip the whole folder. If you do it will break the configuration and the Lambda function will fail!</p>
<p>Before you go ahead and compress the files add some code with the new npm module you just installed to make sure the Lambda function uses it.</p>
<p>Create a new file in the project directory and name it <code>index.js</code>. Paste the existing Lambda function from AWS into the file and edit it slightly.</p>
<pre><code class="language-js">var moment = require(&apos;moment&apos;);

exports.handler = (event, context, callback) =&gt; {
  var min = 1;
  var max = 6;
  
  var randomNumber = Math.floor(Math.random() * (max - min + 1)) + min;
  var now = moment().format();
  
  var message = &apos;Your dice throw resulted in &apos; + 
  randomNumber + &apos; and was issued at &apos; + now;
  
  callback(null, message);
};
</code></pre>
<p>Save all the files and go ahead and zip them up. Remember, only the files and folders within the <strong>roll-a-dice</strong> directory.</p>
<p>You now have a .ZIP file. Go ahead and jump back to the AWS Console.</p>
<p><img src="https://raw.githubusercontent.com/adnanrahic/cdn/master/getting-started-with-aws-lambda-and-nodejs/Selection_068.png" alt="Upload ZIP"></p>
<p>Change the <strong>Code entry type</strong> to <strong>Upload a .ZIP file</strong> and upload the file you just recently compressed. Great! Now, scroll back to the top of the page and press the big orange button once again to Save and Test the function.</p>
<p><img src="https://raw.githubusercontent.com/adnanrahic/cdn/master/getting-started-with-aws-lambda-and-nodejs/Selection_069.png" alt="Test Function"></p>
<p>Nice! It works and it&apos;s showing the current date and time. You zipped the function and npm module correctly. Just in case, jump back to a browser window and try the endpoint once again. It should now show the updated message.</p>
<div style="border: 2px solid #499402;padding: 15px;margin-bottom: 30px;">
    <a class="udemy-link" rel="nofollow" target="_blank" href="http://stackabu.se/aws-serverless-apis-apps-complete-introduction" style="text-decoration: none;color: inherit;">
        <h4>AWS Serverless APIs &amp; Apps - A Complete Introduction</h4>
        <div class="row">
            <div class="col-md-3 col-xs-12">
                <img src="https://s3.amazonaws.com/stackabuse/media/udemy-aws-serverless-api-apps.jpg" class="img-responsive">
            </div>
            <div class="col-md-9 col-xs-12">
                Want to learn more about Lambda, API Gateway, and other AWS services? Try taking a step-by-step training course to teach you how to quickly build fast, cheap, and scalable web services.
            </div>
        </div>
    </a>
</div>
<h3 id="whatnowstartcoding">What now? Start coding!</h3>
<p>Lambda is an incredible tool which works well with an abundance of other services on AWS. Lambda functions can be invoked in response to an event like file uploads, they can be used for chatbots, REST APIs and much, much more.</p>
<p>This simple API example we coded above is just the beginning. But you can see the point. So much overhead is avoided with just worrying about the code, not caring about the underlying infrastructure. I urge you to continue playing with this technology as it will only get more popular in the time to come. Just start coding. Whatever it may be, it doesn&apos;t matter. Just start writing code, because you will learn the most by doing it yourself.</p>
<p>If you missed any of the steps above, <a rel="nofollow" target="_blank" href="https://github.com/adnanrahic/getting-started-with-aws-lambda-and-nodejs">here&apos;s the repository</a> with all the code.</p>
<p>Hope you guys and girls enjoyed reading this as much as I enjoyed writing it. Until next time, be curious and have fun.</p>
<p><em>Do you think this tutorial will be of help to someone? Do not hesitate to share. If you liked it, let me know in the comments below.</em></p>
<!--kg-card-end: markdown--><!--kg-card-end: markdown-->
					