
      <header>
        <h2>A New Year</h2>
        
      </header>
        <p class="date">
          January 9, 2015
          
        </p>
      

<p>This last year has been an exciting time for Node. Mainstream adoption exploded, NPM blew past 100,000 modules, io.js launched to revamp Node&#x2019;s development principles, and JavaScript continued on its path to world domination.</p>

<p>2014 was also a great year for The Node Way, which started 2014 as a Github repo and a few dinky blog posts labeled: &#x201C;The Node.js Handbook.&#x201D; By the end of the year, it had shed these humble beginnings and adopted a whole new look, <a href="http://thenodeway.io/">a new website</a>, and even a new name.</p>

<p>I want 2015 to be the most exciting year yet, for both Node.js &amp; The Node Way. To kick it off <strong>I&#x2019;ll be contributing new content to The Node Way weekly</strong>, starting with a brand new post today.</p>

<h3 id="new-post-designing-factories">New Post: Designing Factories</h3>

<blockquote>
<p><em>&#x201C;Previously, we introduced the Custom Type Module Pattern and how it can be used to create custom objects in your application. These custom types play a major role in JavaScript development, but creating them directly can quickly become a messy business. In this post I&#x2019;ll introduce a new kind of module that makes working with custom types much easier: <strong>The Factory</strong>.&#x201D;</em></p>
</blockquote>

<p><a href="http://thenodeway.io/posts/designing-factories/">Read it here</a> and <a href="https://twitter.com/FredKSchott">let me know what you think</a>!</p>

<h3 id="what-else">What Else?</h3>

<p>I&#x2019;ve got a ton more planned for the year, but I won&#x2019;t spoil it all at once. Stay tuned for more updates, and keep an eye out for more Node.js best practices at <a href="http://thenodeway.io/">thenodeway.io</a>.</p>

<div style="text-align: right; font-weight: bold; font-size: 1.5em;">- FKS</div>


    