
      <header>
        <h2>CoVim</h2>
        
      </header>
        <p class="date">
          May 15, 2013
          
        </p>
      

<p>Today we&#x2019;re announcing <a href="https://github.com/FredKSchott/CoVim">CoVim</a>, a plugin that adds multi-user, real-time collaboration to your favorite (or least favorite) text editor. CoVim allows you to remotely code, write, edit, and collaborate, all within your custom Vim configuration. Originally started as a senior capstone project for Tufts University, we&#x2019;re now open-sourcing it to give the world one of Vim&#x2019;s <a href="http://www.vim.org/sponsor/vote_results.php">most requested features</a>. Think Google Docs for Vim.</p>

<p>Work on CoVim started almost a year ago. I wanted to explore this concept of a shared classroom note-taking platform (someone should still do that, by the way) while my project partner Sam Haney wanted to explore something a bit more well-known and dependable. We decided to meet each other halfway, and CoVim was born.</p>

<h3 id="how-it-works">How it Works</h3>

<p>Vim has built-in Python scripting, so Python was an obvious choice for our project. For networking, we used <a href="http://twistedmatrix.com/trac/">Twisted</a>, a powerful event-driven networking engine that comes included in most versions of Python. Whenever the user makes a change to the document or moves their cursor, the client sends an update to the server. The server then updates any cursor locations before sending the update to the other clients.</p>

<p>With CoVim, there&#x2019;s no representation of a file. All updates live within the Vim buffer, which is simply a working copy of the document&#x2019;s text. This isn&#x2019;t so much a bug or feature, but more a symptom of how Vim represents documents-in-progress. While it&#x2019;s the responsibility of the user to remember to save their work, it also allows users the freedom to save whatever and whenever they want.</p>

<h3 id="so-what">So What?</h3>

<p>CoVim is obviously awesome, but that alone doesn&#x2019;t justify a year of hard work. So, what can we actually do with it?</p>

<p>The problem we initially set out to solve is one that plagued us as students: the annoyance of pair programming on one computer. <a href="http://en.wikipedia.org/wiki/Pair_programming">Pair programming</a> is a great coding technique that turns frustrating work into a team effort, but the physical limitations are a pain. There&#x2019;s just one screen and one keyboard, so space is cramped and switching writers interrupts the creative flow. With CoVim, you can have your own screen and keyboard, so space is never cramped and time is never wasted switching writers.</p>

<p>But students aren&#x2019;t the only ones who can benefit. Teaching Assistants can use CoVim to help multiple students during office hours, and a professor can walk through a students code with them one-on-one without ever leaving the office. Going one step further, TA&#x2019;s could run office hours completely remotely, whenever they had a free second. (Is this a great idea? Probably not, but it is a good example of just how much CoVim can help in academia.)</p>

<p>Businesses will also benefit from CoVim. Got a question for someone across the office? Instead of trying to explain the problem in abstract, just open Vim and let them see the code in question. Does your company practice code reviews? Walk through the code together so that feedback can be given line-by-line. Making it so easy to share code will increase collaboration in any business, which means better code quality and greater results.</p>

<h3 id="grab-the-code">Grab the Code</h3>

<p><a href="https://github.com/FredKSchott/CoVim">CoVim is on GitHub</a>, so go check it out, grab the code, and start sharing. Tons of work went into this project, and it wouldn&#x2019;t have been possible without <a href="http://www.linkedin.com/in/mchow01">Ming Chow</a> (an amazing Tufts professor who completely revamped the Senior Capstone Program) and my project partner <a href="https://plus.google.com/106205329677646443656">Sam Haney</a>. There are tons more features on the way (including chat, annotations, &amp; admin tools), so keep on the lookout.</p>

<p>Happy collaborating!</p>


    