
      <header>
        <h2>Facebook&apos;s Recent Data Leak is Worse Than You Think</h2>
        
      </header>
        <p class="date">
          June 22, 2013
          
        </p>
      <p>Yesterday, Facebook announced <a href="https://www.facebook.com/notes/facebook-security/important-message-from-facebooks-white-hat-program/10151437074840766">the accidental release of 6 million users&#x2019; personal information</a>. The source of the leak was their Backup Tool, which lets users download their list of friends complete with any information they&#x2019;d chosen to share. So what happened? A bug in the tool released the phone numbers and email addresses of friends that they not only hadn&#x2019;t chosen to share, but that they hadn&#x2019;t even given to Facebook.</p>

<p>Because of the nature of the leak and recent NSA activity, both Facebook&#x2019;s apology and the Internet&#x2019;s reaction have focused on the data leak itself. It&#x2019;s a valid concern, but 6 million is a drop in the bucket for Facebook, and any data that did get leaked was only released to a Facebook friend or two. For a company with the mantra <a href="http://media.tumblr.com/a334a1898ab9951866a78d56f638bffb/tumblr_inline_mosyfvAhJL1qz4rgp.jpg">&#x201C;Move fast and break things&#x201D;</a> it&#x2019;s hardly unexpected.</p>

<p>So, &#x201C;No harm, no foul,&#x201D; right? Not quite. Things start to get murky when you ignore the leak and focus on how this was even possible. For one, the phone numbers and email addresses that Facebook leaked weren&#x2019;t submitted by the users themselves. This means Facebook has your phone number, even if you&#x2019;ve never given it out. How? By analyzing and storing your number when your friends give Facebook their address books and contact lists. The same goes for your email address, which Facebook most likely grabbed from a friend&#x2019;s email contacts.</p>

<p>While it&#x2019;s common knowledge that Facebook loves collecting our information, it&#x2019;s always been information that we&#x2019;ve willingly provided. Our favorite movies, photos, and hangout spots are all included on our profiles for our friends to see and Facebook to leverage towards better ads. This bug has exposed that this isn&#x2019;t entirely the case: Facebook knows more about you than you want them to.</p>


    