
      <header>
        <h2>git log is so 2005</h2>
        
      </header>
        <p class="date">
          February 23, 2014
          
        </p>
      <p>Whether you love terminal customization or feel more Rand Paul&#xA0;with your &#x2018;.bash_profile&#x2019;, this tip will change your life. This is&#xA0;one of the first commands I run on a new machine, and it has been an invaluable visualization tool for as long as I can remember.&#xA0;</p>

<blockquote>
        <pre class="code-block" style="margin: 0"><code class="language-javascript">git config --global alias.lg &quot;log --color --graph --abbrev-commit
           --pretty=format:&apos;%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)&lt;%an&gt;%Creset&apos;&quot;</code></pre>
    <p class="signature">&#x2015; via <a href="https://coderwall.com/p/euwpig">Filipe Kiss</a></p>
</blockquote>

<p>This command creates a new &#x2018;git lg&#x2019; alias to use instead of the default &#x2018;git log&#x2019;. What does running <strong><code>git lg</code></strong> do exactly? It turns this mess:</p>

<p><a class="thumbnail-solo" href="/img/git-log.png"><img class="thumbnail" src="/img/git-log.png" alt="git log example"></a></p>

<p>into this:</p>

<p><a class="thumbnail-solo" href="/img/git-lg.png"><img class="thumbnail" src="/img/git-lg.png" alt="git lg example"></a></p>

<p>Beautiful, isn&#x2019;t it? You get more information above the fold by removing noise. And as an added bonus, you can see your branches ebb and flow across your repository. This can be super helpful for navigation and rebasing, and invaluable within merge-based workflows like GitHub&#x2019;s.</p>

<p><strong>#lifehackz.</strong></p>


    