
      <header>
        <h2>Learning to Code? Start Small.</h2>
        
      </header>
        <p class="date">
          April 1, 2013
          
        </p>
      <p><span>I liked a lot of things about Zack Shapiro&#x2019;s post <a href="http://blog.zackshapiro.com/want-to-learn-to-code-start-here" target="_blank">Want to learn to code? Start here.</a> I actually remember reading his original post dedicated to Ruby on Rails last year, and thought it was a great starting point for the framework.</span><span><br></span></p>

<p>Zack&#x2019;s obviously a smart dude, but there&#x2019;s a certain hostility in his newest post and others like it towards those who &#x201C;don&#x2019;t want it enough&quot; and I cringe every time I see it. Coding isn&#x2019;t a secret club that requires a pledge of undying loyalty to join; it can be enjoyed on all parts of the spectrum. So advice like, &#x201C;Nights, Weekends are bad&#x201D; is incredibly damaging to the cause. If someone works days, then what? They just shouldn&#x2019;t bother? Quit their job? Worst-case scenario they never try, and best-case they think they&#x2019;re screwed from the get-go and have an easy excuse to quit. &#x201C;Well, I could only code at night&#x2026; so <em>obviously</em> it didn&#x2019;t work out.&#x201D; A more helpful way to phrase it would be, &#x201C;The more you can give yourself to learning the better&#x201D; which is both true and doesn&#x2019;t alienate the rather large group of &#x201C;people who do things during the day.&quot;</p>

<p>Put another way, this bitterness is like getting mad at a user for abandoning your app/site/product. Sure, maybe it never was for them and they were never planning on making it a part of their daily life. But maybe they would have stayed if you (the community) had done something differently. Regardless you should be excited that they were interested enough to try it out, and curious about what you can learn from their departure that could make your next version more &#x201C;sticky.&#x201D;</p>

<p>So. I want to offer an alternative. Instead, this post IS intended for the person who thinks they should code because they hear so much about it. It&#x2019;s intended for nerds, jocks, English majors, CEOs, the mailroom guy, and anyone else who wants to know more about coding. Here&apos;s all you need to remember to get started:</p>

<h3>Start Small</h3>

<blockquote>
<p>&#x201C;Fundamentals, fundamentals, fundamentals. You&#x2019;ve got to get the fundamentals down because otherwise the fancy stuff isn&#x2019;t going to work.&#x201D;</p>
<p class="signature">&#x2015; Randy Pausch</p>
</blockquote>

<p>Every coach I&#x2019;ve ever had preached the importance of fundamentals daily, and it&apos;s something I still believe in. Sure, the strongest of you might be able to learn everything about Ruby on Rails all at once (Ruby, Rails, the terminal, HTML, CSS, Javascript, the distinctions between client-side and server-side, routing, file permissions) but only after weeks of frustration, searching online and not even understanding the solution, let alone the problem. All roads lead to Rome, but some take a lot longer than others and are covered in shit and its way easier to just not even bother.</p>

<p>Instead, start small and grow. If you want the first steps, I&#x2019;d say learn (and get really familiar with) <a href="http://www.htmldog.com/guides/htmlbeginner/" target="_blank">HTML</a>, then <a href="http://www.htmldog.com/guides/cssbeginner/" target="_blank">CSS</a>, and then <a href="http://www.1stwebdesigner.com/tutorials/jquery-beginners-1/" target="_blank">Javascript + jQuery</a>.</p>

<p>Hear that? That was the sound of a hundred programmers vomiting in rage. &#x201C;HTML? CSS? That&#x2019;s not even real programming! Where&#x2019;s the MVC? Where&#x2019;s CoffeeScript? How will they learn to setup a dev environment?&#x201D; Ignore them; they&#x2019;ve forgotten how hard it is to start out with next to no knowledge, when everything feels unfamiliar and frustrating. For you, it&#x2019;ll feel just like programming and even better, it&#x2019;ll get you familiar with how a computer reads and interprets what you&#x2019;ve written. <span>Get </span>familiar with the fundamentals, and the fancy stuff will come easily when you&apos;re ready for it.</p>

<h3>Have Fun</h3>

<blockquote>
<p>&#x201C;If you have no interest in politics, will you enjoy a language course that uses political articles? Of course not. You&#x2019;ll get bored and quit.&#x201D;</p>
<p class="signature">&#x2015; Tim Ferriss</p>
</blockquote>

<p>I&#x2019;m horrible at being bored. I can&#x2019;t stay focused on anything for long unless I&#x2019;m finding some sort of interest or entertainment in it. Last summer my cousin took me to a driving range to teach me how to swing a golf club. 10 minutes later I was falling asleep, but instead of quitting I just started messing around. I was hitting one ball into another, two balls at once, and lining 10 up for rapid-fire golf. It was a stupid distraction but it kept me interested and my stroke improved regardless.</p>

<p>Whether you like golf or not, apply this to your learning. The web is such a great place to start because It&#x2019;s the most fun. Your rewards are immediate, visual, and can be shared with friends. I agree when Zack writes, &#x201C;Stop telling [nontechnical] people you&apos;re learning to code&#x201D; but disagree that learning to code should be a solitary act.  Instead of telling everyone you&apos;re learning, tell everyone about what you&#x2019;ve made. Send links out to your friends. Show people at work. Bring it up on dates. The point is, be proud and excited about what you&apos;ve made and how much better you&apos;ve gotten. </p>

<p>Tutorials are a great place to start, but creating a bunch of useless little things can quickly get old. Once you feel comfortable start something that you could excited being creative about, like a personal webpage or a simple idea for a site you&#x2019;ve always had.  Then if you want to add or learn something new, find a tutorial and try to follow it while applying it to your own, personal project. This will force you to actually understand and apply the concepts in the abstract instead of just understanding how they fit into any one specific example.</p>

<h3>That&#x2019;s it!</h3>

<p><span>If you ever feel too frustrated, take a step back and ask yourself if you&apos;ve bitten off more than you can chew, and if so find where </span><span>you </span><span>can compromise content for familiarity. When I was just starting out with <a href="http://nodejs.org/">NodeJS</a> I had never seen the </span>tempting<span> engine <a href="http://jade-lang.com/">Jade</a> before (I&apos;m more of a <a href="https://www.djangoproject.com/">Django</a> guy). It didn&#x2019;t seem too hard to learn, but it felt unfamiliar and small problems kept getting in the way of the main goal: learning Node. So I switched out Jade for <a href="http://paularmstrong.github.com/swig/">Swig</a> (Django templating clone), and got back into it. Suddenly the whole thing felt way more familiar,I was enjoying myself, and most importantly I was able to leverage that familiarity towards learning Node faster. Then when I felt more comfortable with it all, I switched back in Jade.</span></p>

<p><span>In the end you need to do what works for you. I only post this to provide an alternative to the everything-at-once approach that seems so ingrained in the &quot;Learning to Code&quot; culture.</span></p>


    