
      <header>
        <h2>&quot;npm install --save&quot; No Longer Using Tildes</h2>
        
      </header>
        <p class="date">
          February 20, 2014
          
        </p>
      <p>A new <a href="http://blog.nodejs.org/2014/02/18/node-v0-10-26-stable/">stable version</a> of Node was released last Wednesday, and with it came the newest version of npm. This update included a lot of big fixes, but the most visible change is that &#x2018;install &#x2013;save&#x2019; now prepends a caret (<code>^</code>) instead of a tilde (<code>~</code>).</p>

<p>What does this mean for you? Well, first you should understand the difference between the two. In the simplest terms, the tilde matches the most recent <em>minor</em> version (the middle number). <code>~1.2.3</code> will match all <code>1.2.x</code> versions but will miss <code>1.3.0</code>. This has been the default behavior of &#x2018;&#x2013;save&#x2019; <a href="https://github.com/mikolalysenko/npm/commit/2d970344545d7dfadf217365755afd0cdca5b1f1">since the start</a>, and you are probably already comfortable seeing it in your <a href="https://www.npmjs.org/doc/files/package.json.html#dependencies">package.json</a>. The caret, on the other hand, is more relaxed. It will update you to the most recent <em>major</em> version (the first number). <code>^1.2.3</code> will match any <code>1.x.x</code> release including <code>1.3.0</code>, but will hold off on <code>2.0.0</code>. npm&#x2019;s <a href="https://github.com/isaacs/node-semver">semantic versioning parser</a> clarifies the distinction:</p>

<blockquote>
    <p>
        <code>~1.2.3 := &gt;=1.2.3-0 &lt;1.3.0-0</code> <strong>&#x201C;Reasonably close to 1.2.3&#x201D;</strong>.<br>
        <code>^1.2.3 := &gt;=1.2.3-0 &lt;2.0.0-0</code> <strong>&#x201C;Compatible with 1.2.3&#x201D;</strong>.
    </p>
    <p class="signature">&#x2015; isaacs/node-semver (emphasis added)</p>
</blockquote>

<p>The difference between &#x201C;reasonably close&#x201D; and &#x201C;compatible&#x201D; can be traced back to semantic versioning (SemVer) semantics. From <a href="http://semver.org/">the spec</a>:</p>

<blockquote>
<p>Given a version number MAJOR.MINOR.PATCH, increment the:</p>
<ul>
    <li>MAJOR version when you make incompatible API changes,</li>
    <li>MINOR version when you add functionality in a backwards-compatible manner, and</li>
    <li>PATCH version when you make backwards-compatible bug fixes.</li>
</ul>
<p class="signature">&#x2015; semver.org</p>
</blockquote>

<p>Only major versions are allowed to break compatibility, so a developer should be able to switch between minors and patches with ease. The caret trusts that this promise is kept, but the tilde is a little more pessimistic.</p>

<p>Of course every rule has an exception, and semver&#x2019;s lies in pre-release versioning:</p>

<blockquote>
<p>Major version zero (0.y.z) is for initial development. Anything may change at any time. The public API should not be considered stable.</p>
<p class="signature">&#x2015; semver.org</p>
</blockquote>

<p>Unlike 1.0 and above, 0.x software has only one promise: &#x201C;Anything can change at any time.&#x201D; While early developers are now free to rapidly increment versions without constraint, most will still maintain a basic level of sanity. Patches are still commonly reserved for bug fixes &amp; internal changes, while the minor version is used for everything else.</p>

<p>npm&#x2019;s semver parser relies on this sanity, so the tilde&#x2019;s behavior for matching &#x201C;reasonably close&#x201D; versions can remains unchanged. The caret, however, won&#x2019;t work with this new rule. To maintaing compatibility, it must be similarly conservative and only match the minor version. So for version zero software, the caret behaves like the tilde. Both <code>~0.1.2</code> and <code>^0.1.2</code> will match the most recent <code>0.1</code> software, but ignore <code>0.2.x</code> since it could be incompatible.</p>

<p>You probably won&#x2019;t notice anything immediately, and your package.json file is still fine as it is. But next time you save a dependency you may notice a caret has crept into your <code>package.json</code>.</p>

<p>Eventually you may want to consider switching all dependencies to one or the other, or even just a select few. But this decision is entirely up to you, and should be based on your use case, the packages themselves, and just how much risk you&#x2019;re willing to take on.</p>


    