
      <header>
        <h2>You are the Decisions You Don&apos;t Make</h2>
        
      </header>
        <p class="date">
          March 27, 2013
          
        </p>
      <p>I read this article called <a href="http://thelastpsychiatrist.com/2008/10/those_five_days_matter_more_th.html">Those Five Days Matter More Than Anything, Except The Other Days</a> a while ago. It&#x2019;s a few years old now (it sports a solid McCain reference) but for some reason I can&#x2019;t get it out of my head. The focus is on the pieces that make up your identity and how a few key moments can completely define your life for the better or worse. It&#x2019;s an interesting read for that alone, but here&#x2019;s what keeps me up at night:</p>

<blockquote>
<p>Who you are is a product of your experience, and also a product of the experiences you did not have. You didn&#x2019;t talk to that girl, now that&#x2019;s part of you&#x2013; you are the guy who was too scared/angry/self-absorbed/whatever to talk to her, and that is an entirely different guy then the guy who does talk to her and it works; and an entirely different guy from the one who gets maced.  That was one of the most important days of your life, and you didn&#x2019;t even know it.</p>
</blockquote>

<p>Knowing the right or wrong choice is impossible in the moment, since you never truly know which was which until long after a decision&#x2019;s been made. The perfect spouse could wake up one night and murder you in your sleep, there&#x2019;s just no knowing for certain. But there&#x2019;s another implication, one that is actually useful for us in the present. Your decisions don&#x2019;t just create your future life; they also create the <em>future you</em>.</p>

<p>To borrow the author&#x2019;s example: You see a pretty girl reading across from you on the train. What do you do? It&#x2019;s impossible to know what will happen, but one thing is for certain no matter what you do: this moment will become a part of you. You think that because you haven&#x2019;t approached her yet you haven&#x2019;t put anything on the table but you&#x2019;re wrong, your entire identity was on the line the second you imagined the conversation. So. Are you the kind of guy who approaches girls freely, or cautiously? Are you outgoing or shy? You can only be one, and these are the moments when you choose.</p>

<p>The distinction is easy to miss, so I&#x2019;ll say it explicitly: Choosing inaction over action isn&#x2019;t just a missed step towards becoming the type of person you want to be, it&#x2019;s a step backwards. Acting like a wimp - no matter what your rational or reasons are - is both a lost opportunity to be awesome and sign that you should get a cat.</p>

<p>I have a friend choosing between two jobs after school. One offer is to be an analyst for a finance machine here in Boston for the next 2+ years, one of the most common steps toward business school. The other involves moving to London to lead in the creation of a new office for twice the pay and 10x the responsibility/freedom, but it would be an unusual job that HBS might not understand. I have no idea which job would be the right move for his career (the only business term I know is &#x201C;synergy&#x201D;) but I do know that Boston is the safe bet, and London is the risk. So by choosing between them he&#x2019;s also choosing what type of person he is: &#x201C;Safe and boring&#x201D; or &#x201C;risky and exciting&#x201D;. This is doubly true because it&#x2019;s his first big career choice, one that will set the base for every future career decision. Even if he chooses neither and goes AWOL on a Greenpeace mission to Africa, he&#x2019;s still made a choice: &#x201C;Scared of hard choices&#x201D;. There&#x2019;s really no way out of it.</p>

<p>The good news is that while wimpiness begets wimpiness, the reverse is just as true: doing something risky or uncertain makes you more of a risk-taker, more &#x201C;ballsy&#x201D;. Talking to a stranger makes you more outgoing. White water rafting or ice-climbing will make you more adventurous. Etc. Etc. Etc. So screw it. Go for it, whatever it is. You might have an awesome adventure or a miserable day, you might get maced or married, but you will be one step closer to the type of person you want to be and one step farther away from letting fear control you.</p>


    